<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"DOCUMENTS" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div90">

            <div class="row100" style="padding-bottom: 10px;">
                {{"DOCUMENTSDESC" | translate}}
            </div>

            <!--<div class="documentsExplanation">-->
            <!--<span class="documentsExplanationText">-->
            <!--Only files with the following extensions are allowed to be uploaded: JPG, JPEG, PNG, PDF, TIF, TIFF, DOC, DOCX-->
            <!--</span>-->
            <!--</div>-->

            <div class="row100">
                <a href="" ng-click="downloadContract()">{{"CONTRACT" | translate}}</a>
            </div>

            <div ng-repeat="document in documents">

                <div class="row100">

                    <div class="row100" style="position: relative">

                        <div class="documentsRowLeft">{{ document.FolderName }}</div>
                        <div class="documentsRowLeft">
                            <div class="documentsCamera" ng-click="getPhotoFromCamera(document.FolderName)">{{"CAMERA" | translate}}</div>
                        </div>
                        <!--<div class="documentsGallery" ng-click="getPhotoFromGallery(document.FolderName)">-->
                            <!--{{"UPLOAD" | translate}}-->
                        <!--</div>-->
                    </div>

                    <div class="row100">

                        <div ng-repeat="file in document.FilesList" ng-show="document.FilesList.length !== 0" class="documentsDoc">

                            <img src="img/picture_icon.png" width="50" ng-click="showDoc(file.FileName)">
                            <div ng-show="file.CanBeDeleted === 'Yes'">
                                <button class="button button-assertive button-small" ng-click="deleteFile(file.FileName)">{{"DELETE" | translate}}</button>
                            </div>

                        </div>

                    </div>

                        <!--<div class="documentsRowDoc">-->

                            <!--<div class="documentsName">{{ file.Title }}</div>-->
                            <!--<div class="documentsImageButton">-->
                                <!--<button class="button button-positive button-small" ng-click="showDoc(file.FileName)">Look</button>-->
                            <!--</div>-->
                            <!--<div class="documentsDeleteButton" ng-show="file.CanBeDeleted === 'Yes'">-->
                                <!--<button class="button button-assertive button-small" ng-click="deleteFile(file.FileName)">Delete</button>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;<div class="documentsImage"><img data-ng-src={{file.src}} width="100"></div>&ndash;&gt;-->

                        <!--</div>-->

                </div>

            </div>

        </div>

        <!--<div ng-repeat="file in files">-->

            <!--<div class="documentsRowDoc">-->

                <!--<div class="documentsName">{{ file.Title }}</div>-->
                <!--<div class="documentsImage"><img ng-src={{file.src}} width="100"></div>-->
                <!--<div class="documentDeleteButton" ng-show="file.CanBeDeleted === 'Yes'">-->
                    <!--<button class="button button-assertive" ng-click="deleteFile(file.FileName)">Delete</button>-->
                <!--</div>-->
                <!--<p>{{ file.src }}</p>-->

            <!--</div>-->

        <!--</div>-->

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
