<ion-view hide-nav-bar="true">
    <ion-content class="has-footer" style="top: 0 !important;">

        <div class="div90">

            <div class="row100" style="margin-top: 15px;">
                <img src="img/gb.png" height="10" ng-show="selectedLanguage.lang == 'en'">
                <img src="img/fr.gif" height="10" ng-show="selectedLanguage.lang == 'fr'">
                <img src="img/sa.jpg" height="10" ng-show="selectedLanguage.lang == 'sa'">
                <img src="img/it.gif" height="10" ng-show="selectedLanguage.lang == 'it'">
                <img src="img/ru.jpg" height="10" ng-show="selectedLanguage.lang == 'ru'">
                <img src="img/de.gif" height="10" ng-show="selectedLanguage.lang == 'de'">
                <select class="enterCountries" ng-model="selectedLanguage.lang">
                    <option value="en" selected>English</option>
                    <option value="fr">Français</option>
                    <option value="sa">العربية</option>
                    <option value="it">Italiano</option>
                    <option value="ru">Русский</option>
                    <option value="de">Deutsch</option>
                </select>
            </div>

            <div class="row100 centering"><img src="img/logo.png" style="width: 80%; margin: 5px 0;"></div>

            <div class="row100 centering" style="margin-top: 20px;">
                <video loop autoplay style="width: 100%;">
                    <source src="img/graph.MP4" type="video/mp4">
                </video>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="footer enterFooter hide-on-keyboard-open">

        <div class="row100">
            <div class="row50">
                <div class="enterLoginButton" ui-sref="app.login">{{'LOGIN' | translate}}</div>
            </div>

            <div class="row50">
                <div class="blueButton" ui-sref="app.register">{{'SIGNUP' | translate}}</div>
            </div>
        </div>

        <div class="enterFooterRow">
            <a ui-sref="app.policy" style="color: #F1F2F3;">{{'POLICY' | translate}}</a> |
            <a ui-sref="app.terms" style="color: #F1F2F3;">{{'TERMS' | translate}}</a> |
            <a href="" ng-click="openModalContactUs()" style="color: #F1F2F3;">{{'CONTACTUS' | translate}}</a>
        </div>

        <div class="enterFooterRow">
            Reserved Atech Technology Services Ltd 2017
        </div>

    </ion-footer-bar>
</ion-view>
