<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"MANAGEINVESTMENT" | translate}}</span>
    </ion-nav-title>
    <ion-content style="top: 50px !important;" class="has-footer bottomBarFooter">

        <div class="investmentBar">
            <div ng-class="{investmentBarButton: robot != 'adam', investmentBarButtonActive : robot == 'adam'}" ng-click=changeRobot('adam')>
                <div class="investmentBarButtonText">{{"SOLID" | translate}}</div>
            </div>
            <div ng-class="{investmentBarButtonCenter: robot != 'emily', investmentBarButtonActiveCenter : robot == 'emily'}" ng-click=changeRobot('emily')>
                <div class="investmentBarButtonText">{{"MODERATE" | translate}}</div>
            </div>
            <div ng-class="{investmentBarButton: robot != 'bruno', investmentBarButtonActive : robot == 'bruno'}" ng-click=changeRobot('bruno')>
                <div class="investmentBarButtonText">{{"AGGRESSIVE" | translate}}</div>
            </div>
            <div class="rowSeparator"></div>
        </div>

        <div class="div90" style="font-size: 90%;">

            <div ng-switch on="robot">

                <div ng-switch-when="adam">

                    <div class="row100">

                        <div class="investmentRobotPic">
                            <div class="investmentRobotName">{{"ADAMTITLE" | translate}}</div>
                        </div>

                        <div class="investmentRobotDesc">
                            <div class="investmentDate">24.1.2016</div>
                        </div>

                    </div>

                    <div class="row100 pv5">

                        <div class="investmentRobotPic">
                            <img src="img/adam.png" height="100">
                        </div>

                        <div class="investmentRobotDesc font12">
                            <div style="font-weight: bold;">{{"ADAMDESCTITLE" | translate}}</div>
                            <div>{{"ADAMDESC" | translate}}</div>
                        </div>

                    </div>

                    <div ng-show="activeRobots.adam && activeRobots.adam.isDeposited">

                        <div class="investmentButtons">

                            <div class="row50" style="padding:0 5px 10px 0;">
                                <div class="blueButton" ng-click="completeDeposit(adamTPname, activeRobots.adam.ClientNumber)">
                                    {{"ATFSETTING" | translate}}
                                </div>
                            </div>

                            <div class="row50" style="padding: 0 0 10px 5px;">
                                <div class="blueButton" style="background-color: #F03F46;" ui-sref="app.withdrawal">
                                    {{"STOPTRADING" | translate}}
                                </div>
                            </div>

                        </div>

                        <div class="rowSeparator mb10"></div>

                        <div class="row100 font12">
                            <div class="myAccountRow18">{{"ACCOUNT" | translate}}</div>
                            <div class="myAccountRow24">{{"ATF" | translate}}</div>
                            <div class="myAccountRow20">{{"BAL" | translate}}</div>
                            <div class="myAccountRow13">{{"EQ" | translate}}</div>
                            <div class="myAccountRow13">{{"GAIN" | translate}}</div>
                            <div class="myAccountRow12">{{"MODE" | translate}}</div>
                        </div>

                        <!--ng-repeat must be here-->

                        <div class="row100 font12">
                            <div class="myAccountRow18">243562</div>
                            <div class="myAccountRow24">Solid</div>
                            <div class="myAccountRow20">$0</div>
                            <div class="myAccountRow13">$0</div>
                            <div class="myAccountRow13">$0</div>
                            <div class="myAccountRow12">
                                <div class="myAccountToggle">
                                    ON &nbsp; <i class="icon ion-record" style="font-size: 12px;"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div ng-show="!(activeRobots.adam && activeRobots.adam.isDeposited)">

                        <div class="rowSeparator"></div>

                        <div class="row100 pv5">
                            <div class="investmentRow25">{{"ACCOUNT" | translate}}</div>
                            <div class="investmentRow25">{{"MONTHLY" | translate}}</div>
                            <div class="investmentRow25">{{"ANNUALLY" | translate}}</div>
                            <div class="investmentRow25">{{"GAIN" | translate}}</div>
                        </div>

                        <div class="row100">
                            <div class="investmentRow25">243562</div>
                            <div class="investmentRow25">4%</div>
                            <div class="investmentRow25">$5675</div>
                            <div class="investmentRow25">$5675</div>
                        </div>

                    </div>

                    <div class="customInput" style="padding: 10px 0;">
                        <select ng-model="selected.interval">
                            <option ng-repeat="item in intervals" value="{{item.id}}">{{item.title}}</option>
                        </select>
                    </div>

                    <!--<div class="investmentBalanceEquity" ng-show="activeRobots.adam">-->
                        <!--<div class="investmentBalance">-->
                            <!--<div class="investmentStatsBold">{{"BALANCE" | translate}}</div>-->
                            <!--<div>${{activeRobots.adam.SpareExtFld02}}</div>-->
                        <!--</div>-->
                        <!--<div class="investmentEquity">-->
                            <!--<div class="investmentStatsBold">{{"EQUITY" | translate}}</div>-->
                            <!--<div>${{activeRobots.adam.SpareExtFld03}}</div>-->
                        <!--</div>-->
                    <!--</div>-->



                    <!--<div class="investmentRobotVoiceDiv" ng-show="!activeRobots.adam">-->
                        <!--<audio controls class="investmentRobotVoice">-->
                            <!--<source src="http://tapper.co.il/trade/Adam.mp3">-->
                        <!--</audio>-->
                    <!--</div>-->

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataAdam"></nvd3>
                    </div>

                    <div class="row100 pv5">
                        <div class="investmentRow20">{{"DEAL" | translate}}</div>
                        <div class="investmentRow35">{{"TIME" | translate}}</div>
                        <div class="investmentRow10">{{"TYPE" | translate}}</div>
                        <div class="investmentRow20">{{"SYMBOL" | translate}}</div>
                        <div class="investmentRow15">{{"USD" | translate}}</div>
                    </div>

                    <div class="row100 investmentBuyRow">
                        <div class="investmentRow20">745277</div>
                        <div class="investmentRow35">27/12/17 14:20:53</div>
                        <div class="investmentRow10">Buy</div>
                        <div class="investmentRow20">eurusd.a</div>
                        <div class="investmentRow15">2.15</div>
                    </div>

                    <div class="row100 investmentSellRow">
                        <div class="investmentRow20">745277</div>
                        <div class="investmentRow35">27/12/17 14:20:53</div>
                        <div class="investmentRow10">Sell</div>
                        <div class="investmentRow20">eurusd.a</div>
                        <div class="investmentRow15">-3.41</div>
                    </div>

                    <div class="row100 centering pv5">
                        <div><i class="icon ion-ios-arrow-down" style="font-size: 20px;"></i></div>
                        <div>{{"LOADMORE" | translate}}</div>
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton" ng-click="startInvest(adamTPname, 'adam')" ng-show="!activeRobots.adam">
                        {{"STARTINVESTING" | translate}}
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton"
                         ng-click="completeDeposit(adamTPname, activeRobots.adam.ClientNumber)" ng-show="activeRobots.adam && !activeRobots.adam.isDeposited">
                        {{"COMPLETEDEPOSIT" | translate}}
                    </div>

                </div>

                <div ng-switch-when="emily">

                    <div class="row100">

                        <div class="investmentRobotPic">
                            <div class="investmentRobotName">{{"EMILYTITLE" | translate}}</div>
                        </div>

                        <div class="investmentRobotDesc">
                            <div class="investmentDate">24.1.2016</div>
                        </div>

                    </div>

                    <div class="row100 pv5">

                        <div class="investmentRobotPic">
                            <img src="img/emily.png" height="100">
                        </div>

                        <div class="investmentRobotDesc">
                            <div style="font-weight: bold;">{{"EMILYDESCTITLE" | translate}}</div>
                            <div>{{"EMILYDESC" | translate}}</div>
                        </div>

                    </div>

                    <div ng-show="activeRobots.emily && activeRobots.emily.isDeposited">

                        <div class="investmentButtons">

                            <div class="row50" style="padding:0 5px 10px 0;">
                                <div class="blueButton" ng-click="completeDeposit(emilyTPname, activeRobots.emily.ClientNumber)">
                                    {{"ATFSETTING" | translate}}
                                </div>
                            </div>

                            <div class="row50" style="padding: 0 0 10px 5px;">
                                <div class="blueButton" style="background-color: #F03F46;" ui-sref="app.withdrawal">
                                    {{"STOPTRADING" | translate}}
                                </div>
                            </div>

                        </div>

                        <div class="rowSeparator mb10"></div>

                        <div class="row100 font12">
                            <div class="myAccountRow18">{{"ACCOUNT" | translate}}</div>
                            <div class="myAccountRow24">{{"ATF" | translate}}</div>
                            <div class="myAccountRow20">{{"BAL" | translate}}</div>
                            <div class="myAccountRow13">{{"EQ" | translate}}</div>
                            <div class="myAccountRow13">{{"GAIN" | translate}}</div>
                            <div class="myAccountRow12">{{"MODE" | translate}}</div>
                        </div>

                        <!--ng-repeat must be here-->

                        <div class="row100 font12">
                            <div class="myAccountRow18">243562</div>
                            <div class="myAccountRow24">Moderate</div>
                            <div class="myAccountRow20">$0</div>
                            <div class="myAccountRow13">$0</div>
                            <div class="myAccountRow13">$0</div>
                            <div class="myAccountRow12">
                                <div class="myAccountToggle">
                                    ON &nbsp; <i class="icon ion-record" style="font-size: 12px;"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div ng-show="!(activeRobots.emily && activeRobots.emily.isDeposited)">

                        <div class="rowSeparator"></div>

                        <div class="row100 pv5">
                            <div class="investmentRow25">{{"ACCOUNT" | translate}}</div>
                            <div class="investmentRow25">{{"MONTHLY" | translate}}</div>
                            <div class="investmentRow25">{{"ANNUALLY" | translate}}</div>
                            <div class="investmentRow25">{{"GAIN" | translate}}</div>
                        </div>

                        <div class="row100">
                            <div class="investmentRow25">243562</div>
                            <div class="investmentRow25">4%</div>
                            <div class="investmentRow25">$5675</div>
                            <div class="investmentRow25">$5675</div>
                        </div>

                    </div>

                    <div class="customInput" style="padding: 10px 0;">
                        <select ng-model="selected.interval">
                            <option ng-repeat="item in intervals" value="{{item.id}}">{{item.title}}</option>
                        </select>
                    </div>

                    <!--<div class="investmentRobotVoiceDiv" ng-show="!activeRobots.emily">-->
                        <!--<audio controls class="investmentRobotVoice">-->
                            <!--<source src="http://tapper.co.il/trade/Emily.wav">-->
                        <!--</audio>-->
                    <!--</div>-->

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataEmily"></nvd3>
                    </div>

                    <div class="row100 pv5">
                        <div class="investmentRow20">{{"DEAL" | translate}}</div>
                        <div class="investmentRow35">{{"TIME" | translate}}</div>
                        <div class="investmentRow10">{{"TYPE" | translate}}</div>
                        <div class="investmentRow20">{{"SYMBOL" | translate}}</div>
                        <div class="investmentRow15">{{"USD" | translate}}</div>
                    </div>

                    <div class="row100 investmentBuyRow">
                        <div class="investmentRow20">745277</div>
                        <div class="investmentRow35">27/12/17 14:20:53</div>
                        <div class="investmentRow10">Buy</div>
                        <div class="investmentRow20">eurusd.a</div>
                        <div class="investmentRow15">2.15</div>
                    </div>

                    <div class="row100 investmentSellRow">
                        <div class="investmentRow20">745277</div>
                        <div class="investmentRow35">27/12/17 14:20:53</div>
                        <div class="investmentRow10">Sell</div>
                        <div class="investmentRow20">eurusd.a</div>
                        <div class="investmentRow15">-3.41</div>
                    </div>

                    <div class="row100 centering pv5">
                        <div><i class="icon ion-ios-arrow-down" style="font-size: 20px;"></i></div>
                        <div>{{"LOADMORE" | translate}}</div>
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton" ng-click="startInvest(emilyTPname, 'emily')" ng-show="!activeRobots.emily">
                        {{"STARTINVESTING" | translate}}
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton"
                         ng-click="completeDeposit(emilyTPname, activeRobots.emily.ClientNumber)" ng-show="activeRobots.emily && !activeRobots.emily.isDeposited">
                        {{"COMPLETEDEPOSIT" | translate}}
                    </div>

                </div>

                <div ng-switch-when="bruno">

                    <div class="row100">

                        <div class="investmentRobotPic">
                            <div class="investmentRobotName">{{"BRUNOTITLE" | translate}}</div>
                        </div>

                        <div class="investmentRobotDesc">
                            <div class="investmentDate">24.1.2016</div>
                        </div>

                    </div>

                    <div class="row100 pv5">

                        <div class="investmentRobotPic">
                            <img src="img/bruno.png" height="100">
                        </div>

                        <div class="investmentRobotDesc">
                            <div style="font-weight: bold;">{{"BRUNODESCTITLE" | translate}}</div>
                            <div>{{"BRUNODESC" | translate}}</div>
                        </div>

                    </div>

                    <div ng-show="activeRobots.bruno && activeRobots.bruno.isDeposited">

                        <div class="investmentButtons">

                            <div class="row50" style="padding:0 5px 10px 0;">
                                <div class="blueButton" ng-click="completeDeposit(brunoTPname, activeRobots.bruno.ClientNumber)">
                                    {{"ATFSETTING" | translate}}
                                </div>
                            </div>

                            <div class="row50" style="padding: 0 0 10px 5px;">
                                <div class="blueButton" style="background-color: #F03F46;" ui-sref="app.withdrawal">
                                    {{"STOPTRADING" | translate}}
                                </div>
                            </div>

                        </div>

                        <div class="rowSeparator mb10"></div>

                        <div class="row100 font12">
                            <div class="myAccountRow18">{{"ACCOUNT" | translate}}</div>
                            <div class="myAccountRow24">{{"ATF" | translate}}</div>
                            <div class="myAccountRow20">{{"BAL" | translate}}</div>
                            <div class="myAccountRow13">{{"EQ" | translate}}</div>
                            <div class="myAccountRow13">{{"GAIN" | translate}}</div>
                            <div class="myAccountRow12">{{"MODE" | translate}}</div>
                        </div>

                        <!--ng-repeat must be here-->

                        <div class="row100 font12">
                            <div class="myAccountRow18">243562</div>
                            <div class="myAccountRow24">Moderate</div>
                            <div class="myAccountRow20">$0</div>
                            <div class="myAccountRow13">$0</div>
                            <div class="myAccountRow13">$0</div>
                            <div class="myAccountRow12">
                                <div class="myAccountToggle">
                                    ON &nbsp; <i class="icon ion-record" style="font-size: 12px;"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div ng-show="!(activeRobots.bruno && activeRobots.bruno.isDeposited)">

                        <div class="rowSeparator"></div>

                        <div class="row100 pv5">
                            <div class="investmentRow25">{{"ACCOUNT" | translate}}</div>
                            <div class="investmentRow25">{{"MONTHLY" | translate}}</div>
                            <div class="investmentRow25">{{"ANNUALLY" | translate}}</div>
                            <div class="investmentRow25">{{"GAIN" | translate}}</div>
                        </div>

                        <div class="row100">
                            <div class="investmentRow25">243562</div>
                            <div class="investmentRow25">4%</div>
                            <div class="investmentRow25">$5675</div>
                            <div class="investmentRow25">$5675</div>
                        </div>

                    </div>

                    <div class="customInput" style="padding: 10px 0;">
                        <select ng-model="selected.interval">
                            <option ng-repeat="item in intervals" value="{{item.id}}">{{item.title}}</option>
                        </select>
                    </div>

                    <!--<div class="investmentRobotVoiceDiv" ng-show="!activeRobots.bruno">-->
                        <!--<audio controls class="investmentRobotVoice">-->
                            <!--<source src="http://tapper.co.il/trade/Bruno.wav">-->
                        <!--</audio>-->
                    <!--</div>-->

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataBruno"></nvd3>
                    </div>

                    <div class="row100 pv5">
                        <div class="investmentRow20">{{"DEAL" | translate}}</div>
                        <div class="investmentRow35">{{"TIME" | translate}}</div>
                        <div class="investmentRow10">{{"TYPE" | translate}}</div>
                        <div class="investmentRow20">{{"SYMBOL" | translate}}</div>
                        <div class="investmentRow15">{{"USD" | translate}}</div>
                    </div>

                    <div class="row100 investmentBuyRow">
                        <div class="investmentRow20">745277</div>
                        <div class="investmentRow35">27/12/17 14:20:53</div>
                        <div class="investmentRow10">Buy</div>
                        <div class="investmentRow20">eurusd.a</div>
                        <div class="investmentRow15">2.15</div>
                    </div>

                    <div class="row100 investmentSellRow">
                        <div class="investmentRow20">745277</div>
                        <div class="investmentRow35">27/12/17 14:20:53</div>
                        <div class="investmentRow10">Sell</div>
                        <div class="investmentRow20">eurusd.a</div>
                        <div class="investmentRow15">-3.41</div>
                    </div>

                    <div class="row100 centering pv5">
                        <div><i class="icon ion-ios-arrow-down" style="font-size: 20px;"></i></div>
                        <div>{{"LOADMORE" | translate}}</div>
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton" ng-click="startInvest(brunoTPname, 'bruno')" ng-show="!activeRobots.bruno">
                        {{"STARTINVESTING" | translate}}
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton"
                         ng-click="completeDeposit(brunoTPname, activeRobots.bruno.ClientNumber)" ng-show="activeRobots.bruno && !activeRobots.bruno.isDeposited">
                        {{"COMPLETEDEPOSIT" | translate}}
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
