<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-back-button class="button-clear backButton">
            <img src="img/back.png" width="20">
        </ion-nav-back-button>
        <ion-nav-title class="customTitle">{{"LOGIN" | translate}}</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="centering has-footer" style="bottom: 80px;">

        <div class="div90">

            <div class="loginWelcome row100">{{'WELCOME' | translate}}</div>

            <div class="customInput">
                <input type="email" placeholder="{{'EMAIL' | translate}}" ng-model="login.email">
            </div>
            <div class="customInput">
                <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="login.password">
            </div>

            <div class="pv5">
                <a ng-click="openModalForgotPassword()" style="color:#F1F2F3">{{'FORGOT' | translate}}</a>
            </div>

            <div class="pv5" ui-sref="app.register">
                {{'NEWMEMBER' | translate}}
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="customFooter" style="height: 80px;">
        <div class="loginBlueButton" style="margin: 0 5px;" ng-click="makeLogin()">{{'LOGIN' | translate}}</div>
    </ion-footer-bar>
</ion-view>
