<ion-view style="background-color: transparent;">
    <button class="button button-clear popupImageCloseButton" ng-click="hidePopupImage()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="popupImageDiv">
        <img ng-src={{image}} style="width: 100%; height: 100%; border: 2px solid white;">
    </div>
</ion-view>
