<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-back-button class="button-clear backButton">
            <img src="img/back.png" width="20">
        </ion-nav-back-button>
        <ion-nav-title>
            <span class="customTitle">{{"RISK" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="mainDiv">
            <div class="innerDiv">
                <p>
                    Trading Forex/CFD & Options on margin carries a high level of risk, and may not be suitable for all
                    investors. The high degree of leverage can work against you as well as for you. Before deciding to
                    trade any such leveraged products you should carefully consider your investment objectives, level of
                    experience, and risk appetite. The possibility exists that you could sustain a loss of some or all
                    of your initial investment and therefore you should not invest money that you cannot afford to lose.
                    You should be aware of all the risks associated with trading on margin, and seek advice from an
                    independent financial advisor if you have any doubts. All accounts are margin leveraged accounts.
                    Clients must maintain an adequate amount of margin to sustain their positions, if equity levels
                    drops to 10% of used margin, a margin call will occur. It is the investor’s responsibility to
                    maintain a sufficient level of margin
                </p>
                <p>
                    atech Market Opinions
                </p>
                <p>
                    Any opinions, news, research, analyses, prices, or other information contained on this website is
                    provided as general market commentary, and does not constitute investment advice. atech will not
                    accept liability for any loss or damage, including without limitation to, any loss of profit, which
                    may arise directly or indirectly from use of or reliance on such information.
                </p>
                <p>
                    Internet Trading Risks
                </p>
                <p>
                    There are risks associated with utilizing an Internet-based deal execution trading system including,
                    but not limited to, the failure of hardware, software, and Internet connection. Since atech does not
                    control signal power, its reception or routing via Internet, configuration of your equipment or
                    reliability of its connection, we cannot be responsible for communication failures, distortions or
                    delays when trading via the Internet. atech employs back-up systems and contingency plans to
                    minimize the possibility of system failure and trading via telephone is atechilable.
                </p>
                <p>
                    Accuracy of Information
                </p>
                <p>
                    The content on this website is subject to change at any time without notice, and is provided for the
                    sole purpose of assisting traders to make independent investment decisions. atech has taken
                    reasonable measures to ensure the accuracy of the information on the website, however, does not
                    guarantee its accuracy, and will not accept liability for any loss or damage which may arise
                    directly or indirectly from the content or your inability to access the website, for any delay in or
                    failure of the transmission or the receipt of any instruction or notifications sent through this
                    website.
                </p>
                <p>
                    Distribution
                </p>
                <p>
                    This site is not intended for distribution, or use by, any person in any country where such
                    distribution or use would be contrary to local law or regulation. None of the services or
                    investments referred to in this website are atechilable to persons residing in any country where the
                    provision of such services or investments would be contrary to local law or regulation. It is the
                    responsibility of visitors to this website to ascertain the terms of and comply with any local law
                    or regulation to which they are subject.
                </p>
                <p>
                    Market Risks and Online Trading
                </p>
                <p>
                    The trading platform provides sophisticated order entry and tracking of orders. atech will make best
                    efforts to fill your trade at the price requested. Trading on-line, no matter how convenient or
                    efficient does not necessarily reduce risks associated with currency trading. All quotes and trades
                    are subject to the terms and conditions of the Client Agreement accessible through this website
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>