.ng-hide {
    display: none !important;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ion-view, ion-header-bar, ion-footer-bar, ion-modal-view {
    background-color: #202F3F !important;
    color: #F1F2F3 !important;
}

ion-nav-bar {
    color: #F1F2F3 !important;
}

ion-header-bar {
    border-bottom-width: 1px !important;
    border-bottom-color: #888F98 !important;
    border-bottom-style: solid !important;
    color: #F1F2F3 !important;
    height: 50px !important;
}

ion-content {
    top: 60px !important;
}

.row100 {
    width: 100%;
    overflow: hidden;
}

.div90 {
    width: 90%;
    margin: 0 auto;
}

.centering {
    text-align: center;
}

.row50 {
    width: 50%;
    float: left;
}

.pv5 {
    padding: 5px 0;
}

.blueButton {
    background-color: #00B3FF;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin: 5px 0;
    color: #F1F2F3;
    font-weight: bold;
    width: 100%;
}

.trueBlueButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: #f1f2f3 !important;
    font-weight: bold;
    margin: 10px 0 !important;
    line-height: 47px;
}

.modalBackButton {
    top: 2px;
    left: 10px;
}

.customTitle {
    padding-top: 5px !important;
    display: block;
    font-size: 15px;
}

.customInput {
    width: 100%;
    padding: 5px 0;
}

.customInputText {
    width: 100%;
    margin: 5px 0;
    background-color: #202F3F;
    color: #F1F2F3;
    border: 1px solid #F1F2F3;
    border-radius: 5px;
    padding: 10px;
}

.customInput input, .customInput select, .customInput textarea {
    width:100%;
    background-color: #202F3F;
    color: #F1F2F3;
    border: 1px solid #F1F2F3;
    border-radius: 5px;
    padding: 10px;
    height: auto;
}

.customInput .intl-tel-input {
    width: 100% !important;
}

.customErrorRequired {
    color: red;
    width: 100%;
    display: block;
}

.customErrorInvalid {
    color: darkorange;
    width: 100%;
    display: block;
}

.customInfo {
    color: #f1f2f3;
    width: 100%;
    display: block;
}

.customFooter {
    height: 70px;
    border-image-width: 0;
    background-size: 0;
    /*color: #F1F2F3;*/
}

.backButton {
    margin-left: -15px;
    margin-top: 5px;
}

.buttonCut {
    margin: 0;
    padding: 0;
    border: 0;
}

.whiteColor {
    color: white;
}

svg text {
    fill: white;
}

.font12 {
    font-size: 12px;
}

.mb10 {
    margin-bottom: 10px;
}

.rowSeparator {
    width: 100%;
    height: 1px;
    background-color: #f1f2f3;
}

/*Popup*/
.popup-container {
    background: rgba(240, 245, 249, 0.5) !important;
}

.popup, .popup-head, .popup-title{
    background-color: #202F3F !important;
    color: #f1f2f3 !important;
}

.popup .popup-head {
    border-bottom-width: 0;
}

.popup .popup-buttons .button{
    border-radius: 5px !important;
    background-color: #00B3FF !important;
    height: 40px !important;
    min-height: 40px !important;
}
/*End of Popup*/


/*Header styling*/

.menuButton {
    position: absolute;
    top: 10px;
}

.menuButtonNotifications {
    position: absolute;
    right: 15px;
    top: 7px;
}

.menuButtonMessages {
    position: absolute;
    right: 45px;
    top: 5px;
}

.menuButtonMessagesSpan {
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 7px;
    position: absolute;
    right: 43px;
    top: 7px;
    color: white;
    z-index: 100;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
}
/*End of header styling*/

/*Enter*/

.enterCountries {
    color: #F1F2F3;
    background-color: transparent;
    border: 0;
}

.enterLoginButton {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    color: black;
}

.enterFooter {
    display: block;
    height: 95px;
    border-image-width: 0;
    background-size: 0;
    color: #F1F2F3;
}

.enterFooterRow {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
}

/*End of enter*/

/*Login*/

.loginWelcome {
    padding: 30px 0;
    font-size: 30px;
}

.loginBlueButton {
    background-color: #00B3FF;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin: 5px 0;
    color: #F1F2F3;
    font-weight: bold;
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
}

/*End of login*/

/*Forgot password*/

.forgotPasswordText {
    width: 100%;
    margin: 10px 0;
}

.forgotPasswordButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
}
/*End of forgot password*/

/*Register*/

.regConditions {
    width: 100%;
    padding: 10px 0;
    height: 60px;
}

.regCheckbox {
    width: 8%;
    float: left;
    text-align: left;
    margin-top: 2px;
}

.regCheckboxLabel {
    width: 92%;
    float: right;
    font-size: 12px;
}

/*End of Register*/

/*Phone verification*/
.phoneHeader {
    width: 100%;
    margin: 20px 0 10px 0;
    text-align: center;
}

.phoneHeaderText{
    width: 100%;
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 30px;
}

.phoneInputHeader {
    font-weight: bold;
    font-size: 120%;
    margin: 10px 0;
}

.phoneContactUs{
    font-size: 12px;
    width: 100%;
}

/*End of phone verification*/


/*Investment*/
.investmentBar {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #f1f2f3;
    border-top: 1px solid #f1f2f3;
}

.investmentBarButton {
    width: 33%;
    float: left;
    height: 43px;
    text-align: center;
    color: white;
}

.investmentBarButtonCenter {
    width: 34%;
    float: left;
    height: 43px;
    text-align: center;
    color: white;
}

.investmentBarButtonActive {
    width: 33%;
    float: left;
    height: 43px;
    text-align: center;
    background: rgba(52, 66, 80, 0.5);
    color: white;
}

.investmentBarButtonActiveCenter {
    width: 34%;
    float: left;
    height: 43px;
    text-align: center;
    background: rgba(52, 66, 80, 0.5);
    color: white;
}

.investmentBarButtonText {
    line-height: 43px;
    font-weight: bold;
    font-size: 120%;
}

.investmentRobotName {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 120%;
    padding: 5px 0;
}

.investmentDate {
    width: 100%;
    text-align: right;
    color: white;
    font-size: 120%;
    padding: 5px 0;
}

.investmentRobotPic{
    text-align: center;
    width: 35%;
    float: left;
}

.investmentRobotDesc{
    text-align: justify;
    width: 65%;
    float: left;
}

.investmentRow25 {
    width: 25%;
    float: left;
    text-align: center;
}

.investmentRow20 {
    width: 20%;
    float: left;
    text-align: center;
}

.investmentRow10 {
    width: 10%;
    float: left;
    text-align: center;
}

.investmentRow15 {
    width: 15%;
    float: left;
    text-align: center;
}

.investmentRow35 {
    width: 35%;
    float: left;
    text-align: center;
}

.investmentBuyRow {
    background-color: #F03F46;
    padding: 5px 0;
    margin: 2px 0;
}

.investmentSellRow {
    background-color: #23A05A;
    padding: 5px 0;
    margin: 2px 0;
}

/*.investmentRobotVoiceDiv {*/
    /*width: 100%;*/
/*}*/

/*.investmentRobotVoice {*/
    /*width: 100%;*/
    /*border:2px solid #f1f1f1;*/
    /*margin: 10px 0;*/
/*}*/

.investmentButtons {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}
/*End of investment*/

/*Bottom bar*/
.bottomBarFooter {
    bottom: 60px;
}

.bottomBar {
    height: 60px;
    padding: 0;
    margin: 0;
}

.bottomBarButtons {
    width: 100%;
    text-align: center;
}

.bottomBarButtonFirst {
    width: 34%;
    padding-top: 5px;
    height: 60px;
    float: left;
    border-top: 1px solid #888F98;
    border-right: 1px solid #888F98;
}

.bottomBarButton {
    width: 33%;
    padding-top: 5px;
    height: 60px;
    float: left;
    border-top: 1px solid #888F98;
    border-right: 1px solid #888F98;
}

.bottomBarButton:last-of-type {
    width: 33%;
    padding-top: 5px;
    height: 60px;
    float: left;
    border-top: 1px solid #888F98;
    border-right: 1px solid transparent;
}

.bottomBarButtonIcon {
    font-size: 250%;
    color: white;
}

.bottomBarButtonIconBlack {
    color: white !important;
}

.bottomBarButtonText {
    color: white;
    font-size: 10px;
    margin-top: -3px;
    font-weight: bold;
}

.bottomBarButtonTextBlack {
    color: white !important;
    font-weight: bold;
}

.bottomBarButtonGrey {
    background: rgba(52, 66, 80, 0.5);
}
/*End of bottom bar*/

/*FAQ*/
.FAQtitle {
    width: 80%;
    float: left;
    padding: 5px;
}

.FAQtitleOpen {
    background: rgba(52, 66, 80, 0.5);
}


.FAQitemArrow {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 5px;
}

.FAQitemText {
    width: 100%;
    text-align: justify;
    /*background: rgba(52, 66, 80, 0.5);*/
    padding: 5px 20% 5px 5px;
}

/*End of FAQ*/

/*Financial model*/
.modelBlockLeft {
    width: 50%;
    float: left;
    border-top: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
}

.modelBlockRight {
    width: 50%;
    float: left;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
}
/*End of financial model*/


/*Inbox*/

.inboxSubheader {
    width: 100%;
    padding: 5px 5px 5px 10px;
    color: #079CD4;
    font-size: 20px;
    margin: 10px 0;
}

.inboxRow {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.inboxTitle {
    width: 74%;
    float: left;
}

.inboxDate {
    width: 18%;
    float: right;
    text-align: center;
}

.inboxArrow {
    width: 8%;
    float: right;
    text-align: center;
}

.inboxText {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 10px;
    background: rgba(52, 66, 80, 0.5);
}

.inboxButtons {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 10px;
    background: rgba(52, 66, 80, 0.5);
}

.inboxFeedback {
    color: red;
}

.inboxActive {
    background: rgba(52, 66, 80, 0.5);
}
/*End of Inbox*/

/*Notifications*/

.notificationsItem {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.notificationsImgDiv {
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    padding-top: 10px;
}

.notificationsDataDiv {
    width: 75%;
    float: right;
}

.notificationsDataRow {
    width: 100%;
    height: 40px;
}

.notificationsRobotName {
    width: 75%;
    float: left;
    font-size: 120%;
    font-weight: bold;
    height: 40px;
    padding-top: 15px;
    padding-left: 5px;
}

.notificationsDate {
    width: 25%;
    float: right;
    height: 40px;
    padding-top: 15px;
    padding-right: 5px;
}

.notificationsText {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 5px 10px 5px;
}

.notificationsDataRowOpened {
    width: 100%;
    height: auto;
}

.notificationsTextOpened {
    padding: 10px 5px 10px 5px;
    height: auto;
}

/*End of notifications*/

/*Reports*/
.reportsButton {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
}
/*End of reports*/

/*History*/
.historyArrow {
    width: 5%;
    float: left;
    padding-top: 67px;
}

.historyData {
    width: 90%;
    float: left;
}

.historyColumn34 {
    width: 34%;
    float: left;
}

.historyColumn33 {
    width: 33%;
    float: left;
    border-left: 1px solid #f1f2f3;
}

.historyRow {
    width: 100%;
    border-bottom: 1px solid #f1f2f3;
    padding: 5px;
    font-size: 12px;
}

.historyLine {
    width: 37%;
    float: left;
    height: 1px;
    background-color: white;
    margin-top: 9px;
}

.historyPages {
    width: 26%;
    float: left;
    font-size: 12px;
    text-align: center;
}

/*End of history*/

/*Documents*/

.documentsRowLeft {
    width: 50%;
    float: left;
    line-height: 45px;
    height: 45px;
}

.documentsCamera{
    background-color: #00B3FF;
    width: 60%;
    float: right;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 7px;
}

.documentsDoc {
    float: left;
    text-align: center;
    padding: 5px;
}

/*End of documents*/

/*Image popup*/

.popupImage .popup {
    background-color: transparent;
    padding-top: 5px;
    width: 80%;
    height: 80%;
    margin-top: -80px;
}

.popupImage .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.popupImageDiv {
    padding-top: 20px;
    padding-right: 5px;
    width: auto;
    height: auto;
}

.popupImageCloseButton {
    top: 2px;
    right: -15px;
    position:absolute;
}

/*End of image popup*/

/*My account*/
.myAccountRow18{
    width: 18%;
    float: left;
}

.myAccountRow20{
    width: 20%;
    float: left;
}

.myAccountRow24{
    width: 24%;
    float: left;
}

.myAccountRow13{
    width: 13%;
    float: left;
}

.myAccountRow12{
    width: 12%;
    float: left;
}

.myAccountToggle {
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    color: #00B3FF;
    font-size: 10px;
    line-height: 15px;
    padding-left: 3px;
    font-weight: bold;
}
/*End of my account*/


/*Deposit*/

.depositRow {
    width: 100%;
    height: 20px;
    margin: 10px 0;
}

.depositCheckbox{
    width: 12%;
    float: left;
    text-align: left;
    padding-left: 10px;
}

.depositPaymentType {
    width: 88%;
    float: left;
    font-weight: bold;
    position: relative;
}

.depositVisaMastercard {
    position: absolute;
    top: 0;
    left: 120px;
}

.depositWireTransfer {
    position: absolute;
    top: -2px;
}

.depositInputMM {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.depositInputYY {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.depositInputCVV {
    width: 34%;
    float: left;
}

.depositCamera {
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
}

.depositConfirmationImage {
    width: 100%;
}

/*Menu*/

.customMenu {
    background-color: #202F3F !important;
    top: 0 !important;
}

.customMenu .item {
    border:none;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: white;
    color: white;
}

.customMenu .item-content {
    background-color: #202F3F !important;
}

.active-menu-item .item-content {
    background: rgba(52, 66, 80, 1) !important;
    /*background: rgba(52, 66, 80, 0.5); !important;*/
}

.customMenuInboxCircle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: 30px;
    text-align: center;
    color: #202F3F;
    font-size: 120%;
    font-weight: bold;
}

.topIconSize::before {
    font-size: 30px !important;
}

.topIconSmallSize::before {
    font-size: 25px !important;
}

/*End of menu*/

/*Withdrawal*/
.withdrawalInputDiv {
    padding: 10px 0;
    color: gray;
}

.withdrawalInput {
    font-size: 120% !important;
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border: 0;
    border-radius: 5px;
}

.withdrawalConditions {
    width: 100%;
    height: 60px;
    margin: 10px 0 0 0;
}

.withdrawalCheckbox {
    width: 10%;
    float: left;
    text-align: left;
}

.withdrawalCheckboxLabel {
    width: 90%;
    float: right;
    color: gray;
    font-size: 12px;
    line-height: 25px;
}

.withdrawalApply {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 150%;
    line-height: 40px;
}
/*End of withdrawal*/







































.div80 {
    width: 90%;
    margin: 0 auto;
}

/*Privacy policy and Terms of Use*/

.mainDiv {
    width: 100%;
}

.innerDiv {
    width: 96%;
    margin: 0 auto;
    padding-top: 10px;
}

/*End of Privacy policy and Terms of Use*/



