<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"HISTORY" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div90">

            <div class="customInput">
                <select ng-model="parameters.type" >
                    <option value="0">{{"SHOWALL" | translate}}</option>
                    <option value="1">{{"DEPOSIT" | translate}}</option>
                    <option value="2">{{"WITHDRAWAL" | translate}}</option>
                </select>
            </div>

            <div class="row100">{{"FROM" | translate}}:</div>

            <div class="customInput" style="position: relative;">
                <input type="text" ng-model="parameters.from" ng-click="pickStartDate()">
                <i class="icon ion-android-calendar" style="font-size: 25px; position: absolute; top: 12px; right: 10px; color: #f1f2f3;"></i>
            </div>

            <div class="row100">{{"TO" | translate}}:</div>

            <div class="customInput" style="position: relative;">
                <input type="text" ng-model="parameters.to" ng-click="pickEndDate()">
                <i class="icon ion-android-calendar" style="font-size: 25px; position: absolute; top: 12px; right: 10px; color: #f1f2f3;"></i>
            </div>

            <div class="button button-clear buttonCut trueBlueButton" ng-click="getHistory()">
                View Results
            </div>

            <div class="row100">

                <div class="historyArrow" style="text-align: left"><i class="icon ion-chevron-left"></i></div>

                <div class="historyData">

                    <div class="rowSeparator" style="color: #f1f2f3"></div>

                    <div class="historyColumn34">

                        <div class="historyRow">{{"DATE" | translate}}</div>
                        <div class="historyRow">{{"TYPE" | translate}}</div>
                        <div class="historyRow">{{"REFERENCENO" | translate}}</div>
                        <div class="historyRow">{{"STATUS" | translate}}</div>
                        <div class="historyRow">{{"INVOICE" | translate}}</div>

                    </div>

                    <!--ng-repeat must be here-->

                    <div class="historyColumn33">

                        <div class="historyRow">20.01.2017</div>
                        <div class="historyRow">Deposit</div>
                        <div class="historyRow">89</div>
                        <div class="historyRow">Complete</div>
                        <div class="historyRow"><a href="">Download</a></div>

                    </div>

                    <div class="historyColumn33">

                        <div class="historyRow">20.01.2017</div>
                        <div class="historyRow">Withdrawal</div>
                        <div class="historyRow">94</div>
                        <div class="historyRow">Complete</div>
                        <div class="historyRow"><a href="">Download</a></div>

                    </div>

                </div>

                <div class="historyArrow" style="text-align: right"><i class="icon ion-chevron-right"></i></div>

            </div>

            <div class="row100" style="padding: 10px 0;">
                <div class="historyLine"></div>
                <div class="historyPages">&nbsp;{{"PAGE" | translate}} 1 {{"OF" | translate}} 15&nbsp;</div>
                <div class="historyLine"></div>
            </div>






            <!--<div ng-repeat="record in history">-->

                <!--<div class="historyTile">-->

                    <!--<div class="historyTileInside">-->

                        <!--<div class="historyRow">-->
                            <!--<div class="historyLeftText">Date</div>-->
                            <!--<div class="historyRightText">{{record.CreatedOn | date: "dd.MM.yyyy" }}</div>-->
                        <!--</div>-->

                        <!--<div class="historyRow">-->
                            <!--<div class="historyLeftText">Type</div>-->
                            <!--<div class="historyRightText">{{record.type}}</div>-->
                        <!--</div>-->

                        <!--<div class="historyRow">-->
                            <!--<div class="historyLeftText">Reference No</div>-->
                            <!--<div class="historyRightText">{{record.referenceNumber}}</div>-->
                        <!--</div>-->

                        <!--<div class="historyRow">-->
                            <!--<div class="historyLeftText">Status</div>-->
                            <!--<div class="historyRightText">{{record.Status}}</div>-->
                        <!--</div>-->

                        <!--<div class="historyRow">-->
                            <!--<div class="historyLeftText">Invoice</div>-->
                            <!--<div class="historyRightText"><a href="" ng-click="getHistoryRecord(record.link)">Download</a></div>-->
                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
