<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"INBOX" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <!--Unread messages-->

        <div class="inboxSubheader">{{ "UNREADMESSAGES" | translate}} ({{unreadInbox}})</div>

        <div class="rowSeparator"></div>

        <div ng-repeat="item in inbox | orderBy : '-CreatedOn'">

            <div ng-show="item.type == 'message' && item.UserReadMessageOn == ''">

                <div class="inboxRow" ng-click="toggleGroup(item.index)"
                     ng-class="{inboxActive: isGroupShown(item.index)}">

                    <div class="row100">

                        <div class="inboxTitle">
                            <span class="row100" ng-bind-html="item.MessageSubject"></span>
                        </div>

                        <div class="inboxArrow">
                            <img src="img/down.png" width="15" ng-show="!isGroupShown(item.index)">
                            <img src="img/up.png" width="15" ng-show="isGroupShown(item.index)">
                        </div>

                        <div class="inboxDate">{{item.CreatedOn | date: "MMM dd" }}</div>

                    </div>

                </div>

                <div ng-show="isGroupShown(item.index)">

                    <div class="inboxText" ng-bind-html="item.MessageBody"></div>

                    <div class="inboxButtons">
                        <a href="" ng-click="deleteMessage(item.Key)" style="color: white">{{"DELETE" | translate}}</a>
                        &nbsp;
                        <a href="" ng-click="readMessage(item.Key)" ng-show="item.UserReadMessageOn == ''" style="color: white">{{"MARK" | translate}}</a>
                    </div>

                </div>

            </div>

            <div ng-show="item.type == 'message' && item.UserReadMessageOn == ''" class="rowSeparator"></div>

        </div>

        <!-- Messages that are already read + tickets -->

        <div class="inboxSubheader">{{ "ALLMESSAGES" | translate}} ({{tickets.length - unreadInbox + messages.length}})</div>

        <div class="rowSeparator"></div>

        <div ng-repeat="item in inbox | orderBy : '-CreatedOn'">

            <div ng-show="item.type == 'message' && item.UserReadMessageOn != ''">

                <div class="inboxRow" ng-click="toggleGroup(item.index)"
                     ng-class="{inboxActive: isGroupShown(item.index)}">

                    <div class="row100">

                        <div class="inboxTitle">
                            <span class="row100" ng-bind-html="item.MessageSubject"></span>
                        </div>

                        <div class="inboxArrow">
                            <img src="img/down.png" width="15" ng-show="!isGroupShown(item.index)">
                            <img src="img/up.png" width="15" ng-show="isGroupShown(item.index)">
                        </div>

                        <div class="inboxDate">{{item.CreatedOn | date: "MMM dd" }}</div>

                    </div>

                </div>

                <div ng-show="isGroupShown(item.index)">

                    <div class="inboxText" ng-bind-html="item.MessageBody"></div>

                    <div class="inboxButtons">
                        <a href="" ng-click="deleteMessage(item.Key)" style="color: white">{{"DELETE" | translate}}</a>
                        &nbsp;
                        <a href="" ng-click="readMessage(item.Key)" ng-show="item.UserReadMessageOn == ''" style="color: white">{{"MARK" | translate}}</a>
                    </div>

                </div>

                <div class="rowSeparator"></div>

            </div>

            <div ng-show="item.type == 'ticket'">

                <div class="inboxRow" ng-click="toggleGroup(item.index)" ng-class="{inboxActive: isGroupShown(item.index)}">

                    <div class="row100">

                        <div class="inboxTitle">
                            <span class="row100">{{ item.Title }}</span>
                        </div>

                        <div class="inboxArrow">
                            <img src="img/down.png" width="15" ng-show="!isGroupShown(item.index)">
                            <img src="img/up.png" width="15" ng-show="isGroupShown(item.index)">
                        </div>

                        <div class="inboxDate">{{item.CreatedOn | date: "MMM dd" }}</div>

                    </div>

                </div>

                <div ng-show="isGroupShown(item.index)">

                    <div class="inboxText">

                        <div ng-bind-html="item.SubjectComplain"></div>

                        <div class="inboxFeedback">
                            {{item.ComplainerFeedback}}
                            <span ng-show="item.ComplainerFeedback == ''">{{"INPROCESS" | translate}}</span>
                        </div>
                    </div>

                </div>

                <div class="rowSeparator"></div>

            </div>

        </div>


    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
