<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"MODEL" | translate}}</span>
    </ion-nav-title>
    <ion-content>

        <div class="div90">

            <div class="row100">

                <div class="modelBlockLeft">{{ "DEPOSIT" | translate }}</div>

                <div class="modelBlockRight">{{ "SUCCESSFEE" | translate }}</div>

            </div>

            <div class="row100">

                <div class="modelBlockLeft">$1,000 - $10,000</div>

                <div class="modelBlockRight">50%</div>

            </div>

            <div class="row100">

                <div class="modelBlockLeft">$10,000 - $50,000</div>

                <div class="modelBlockRight">40%</div>

            </div>

            <div class="row100">

                <div class="modelBlockLeft">$50,000 - $500,000</div>

                <div class="modelBlockRight">30%</div>

            </div>

            <div class="row100" style="border-bottom: 1px solid white;">

                <div class="modelBlockLeft">$500,000 - $2,500,000</div>

                <div class="modelBlockRight">25%</div>

            </div>

        </div>

    </ion-content>
</ion-view>