<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"NOTIFICATIONS" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div>

            <div ng-repeat="item in notifications  | orderBy : '-date'">

                <div class="notificationsItem" ng-click="toggleGroup(item.id)" ng-class="{active: isGroupShown(item.id)}">

                    <div class="notificationsImgDiv">
                        <img ng-src={{item.img}} height="60">
                    </div>

                    <div class="notificationsDataDiv">

                        <div class="notificationsDataRow">
                            <div class="notificationsRobotName">{{ item.robot }}</div>
                            <div class="notificationsDate">{{ item.date | date: "MMM dd" }}</div>
                        </div>

                        <div ng-class="{notificationsDataRow : !isGroupShown(item.id), notificationsDataRowOpened : isGroupShown(item.id)}">

                            <div ng-class="{notificationsText : !isGroupShown(item.id), notificationsTextOpened : isGroupShown(item.id)}">
                                {{ item.text }}
                            </div>

                        </div>

                    </div>

                </div>

                <div class="rowSeparator"></div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
