<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-back-button class="button-clear backButton">
            <img src="img/back.png" width="20">
        </ion-nav-back-button>
        <ion-nav-title>
            <span class="customTitle">{{"POLICY" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="mainDiv">
            <div class="innerDiv">
                <p>
                    Information Collected by atech
                </p>
                <p>
                    The categories of nonpublic personal information which atech shall collect include:
                </p>
                <p>
                    information provided by the customer when opening an account, or to process a transaction, such as
                    name, address, assets, bank information, prior trading experience, etc.;
                </p>
                <p>
                    information used to verify the identity of the customer, including copies of government issued
                    identification materials such as passports, drivers licenses, and credit reports;
                </p>
                <p>
                    information resulting from transactions between the customer and atech or an affiliate of atech,
                    such as withdrawal and deposit forms;
                </p>
                <p>
                    information derived from customer’s navigation and usage of atech’s website and online platforms,
                    including account trading statements;
                </p>
                <p>
                    Usage of Personal Information
                </p>
                <p>
                    atech may use the information collected from you to verify your identity and contact information.
                    atech may also use this information to establish and setup your trading or demo account, issue an
                    account number and a secure password, maintain your account activity, and contact you with account
                    information.
                </p>
                <p>
                    Should you close your account, atech will retain your information, but only use it to comply with
                    regulatory requirements and to periodically contact you to offer you the opportunity to reactivate
                    your account or participate in other valuable offers.
                </p>
                <p>
                    Information Disclosed by atech and To Whom atech Discloses the Information
                </p>
                <p>
                    atech may share information with affiliates if the information is required to provide the product or
                    service you have requested or to provide you the opportunity to participate in the products or
                    services our affiliates offer.
                </p>
                <p>
                    Except for the limited circumstances described below or as otherwise permitted by law, atech does
                    not share nonpublic personal information about our current or former customers with any third
                    parties.
                </p>
                <p>
                    atech may share nonpublic personal information with introducing brokers for translation services.
                    When introducing brokers provide translation services, we endeavor to protect such personal
                    information by requiring those introducing brokers to enter into an agreement with atech to
                    safeguard the confidentiality of personal information.
                </p>
                <p>
                    When a client is referred by an introducing broker, atech generally shares nonpublic personal
                    information concerning the account opening and maintenance process with the introducing broker who
                    made the referral;
                    atech may engage another business or person to help us identify client and demo user needs and
                    notify clients and demo users of product and service offerings. Use of the information shared is
                    limited to the performance of the task we request and is not used for any other purpose. These third
                    parties are required to enter into an agreement with atech to safeguard the confidentiality of
                    personal information before they provide such services. Examples of information shared are
                    identifying information such as name, mailing address, e-mail address and telephone number and
                    information on account activity.
                </p>
                <p>
                    atech may provide information to non-affiliated third parties, as permitted by law, in providing
                    financial services to you. This includes a consumer reporting agency that prepares your credit
                    report;
                </p>
                <p>
                    atech may provide information, as permitted by law, to government or regulatory agencies and to
                    comply with a legal summons, court order, subpoena or a similar legal process, audit or
                    investigation; and
                    atech may also disclose your nonpublic personal information if you authorize such disclosure.
                </p>
                <p>
                    If you do not wish to have atech share nonpublic personal information with non-affiliated third
                    parties pursuant to any of the provisions listed above, please opt out of those provisions by
                    sending an e-mail to compliance@atechfx.com or calling atech at +41435085379. Opting out will apply
                    for all financial products or services you obtain through atech. Please note that you cannot opt out
                    of any provisions if sharing of the information is required by law. Further, please note that an
                    opt-out election must be made for each separate account you hold at atech or with any atech
                    affiliates.
                </p>
                <p>
                    Confidentiality and Security Procedures
                </p>
                <p>
                    Only those staff members for whom the information is necessary to complete a given transaction shall
                    possess the authority to access the information. atech, its personnel, and its affiliates shall
                    strictly adhere to security practices and procedures to ensure the confidentiality of its customers’
                    information.
                </p>
                <p>
                    atech maintains numerous safeguards that comply with Federal regulations to guard your nonpublic
                    personal information including the use of encryption technology, firewalls and authentication
                    systems (usernames and passwords).
                </p>
                <p>
                    atech will continue to protect the privacy of former customers’ nonpublic personal information in
                    the same manner as when they were customers. Unlike current customers, however, former customers
                    will not receive annual privacy notices.
                </p>
                <p>
                    atech will provide a notice of our privacy policy annually, as long as the customer maintains an
                    account with atech. atech reserves the right to make changes to this policy. This policy may always
                    be reviewed on www.atechfx.com.
                </p>
                <p>
                    Cookies
                </p>
                <p>
                    atech may set cookies and other data capture mechanisms on your computer that allow us to store data
                    about your visit. Cookies help us learn which areas of our site are useful and which areas need
                    improvement. You may configure your browser to prevent cookies from being set on your computer. If
                    you do so, you may still access the website but certain features may be disabled and/or not function
                    properly.
                </p>
                <p>
                    Europe
                </p>
                <p>
                    Access to the Personal Data we may hold about you. You have the right to request a copy of the data
                    we hold about you and to have any inaccurate data about you corrected. For more information, please
                    send an email to info@atech.trade.
                </p>
                <p>
                    Opt Out.
                </p>
                <p>
                    You are not required to supply any of the personal information that we may request. However, failure
                    to do so may result in atech not being able to open or maintain your account.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>