<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-back-button class="button-clear backButton">
            <img src="img/back.png" width="20">
        </ion-nav-back-button>
        <ion-nav-title>
            <span class="customTitle">{{"SIGNUP" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>

        <div class="div90">

            <form name="form.registration" novalidate="" ng-submit="makeRegistration()" style="padding-top: 10px;">

                    <div class="customInput">
                        <input type="text" placeholder='{{"FIRSTNAME" | translate}}' name="user_firstname" ng-model="register.firstname" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_firstname.$error.required"><span class="customErrorRequired">{{"FIRSTNAMEERR" | translate}}</span></div>

                    <div class="customInput">
                        <input placeholder='{{"LASTNAME" | translate}}' type="text" name="user_lastname" ng-model="register.lastname" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_lastname.$error.required"><span class="customErrorRequired">{{"LASTNAMEERR" | translate}}</span></div>

                    <div class="customInput">
                        <input placeholder='{{"EMAIL" | translate}}' type="email" name="user_email" ng-model="register.email" ng-pattern="patterns.email" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_email.$error.required"><span class="customErrorRequired">{{"EMAILERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_email.$invalid"><span class="customErrorInvalid">{{"EMAILERR2" | translate}}</span></div>

                    <div class="customInput">
                        <input placeholder='{{"PASSWORD" | translate}}' type="password" name="user_password" ng-model="register.password" ng-pattern="patterns.password" required>
                    </div>
                    <div ng-show="form.registration.user_password.$dirty"><span class="customInfo">{{"PASSINFO" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password.$error.required"><span class="customErrorRequired">{{"PASSERR3" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password.$invalid"><span class="customErrorInvalid">{{"PASSERR2" | translate}}</span></div>

                    <div class="customInput">
                        <input placeholder='{{"PASSCONF" | translate}}' type="password" name="user_password_confirmation" ng-model="register.password_confirmation" ng-pattern="patterns.password_confirmation" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password_confirmation.$error.required"><span class="customErrorRequired">{{"PASSCONFERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password_confirmation.$invalid"><span class="customErrorInvalid">{{"PASSCONFERR2" | translate}}</span></div>


                    <div class="customInput" style="position: relative;">
                        <input type="text" name="user_birthday" placeholder='{{"BIRTHDAY" | translate}}' ng-model="register.birthday" ng-click="pickDate()" ng-pattern="patterns.birthday" required>
                        <i class="icon ion-android-calendar" style="font-size: 25px; position: absolute; top: 10px; right: 10px; color: #f1f2f3;"></i>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_birthday.$error.required"><span class="customErrorRequired">{{"BIRTHDAYERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_birthday.$invalid"><span class="customErrorInvalid">{{"BIRTHDAYERR2" | translate}}</span></div>

                    <div class="customInput">
                        <input international-phone-number national-mode="false" type="tel" name="user_phone" ng-model="register.phone" required>
                    </div>
                    <div ng-show="form.registration.user_phone.$dirty"><span class="customInfo">{{"PHONEINFO" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_phone.$error.required"><span class="customErrorRequired">{{"PHONEERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_phone.$invalid"><span class="customErrorInvalid">{{"PHONEERR2" | translate}}</span></div>

                    <div class="customInput">
                        <select name="user_country" ng-model="register.country" pvp-country-picker="name" required></select>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_country.$error.required"><span class="customErrorRequired">{{"COUNTRYERR" | translate}}</span></div>

                <button type="submit" class="button button-clear trueBlueButton buttonCut">
                    {{"COMPLETE" | translate}}
                </button>

            </form>

            <div ng-show="checkboxError === true" style="padding: 5px 0;"><span class="customErrorRequired">{{"TERMSERR" | translate}}</span></div>

            <div class="regConditions">
                <div class="regCheckbox">
                    <img src="img/checkbox_empty.png" width="15" ng-click="setSquare(true)" ng-show="square === false">
                    <img src="img/checkbox_full.png" width="15" ng-click="setSquare(false)" ng-show="square === true">
                </div>
                <div class="regCheckboxLabel">{{"TERMS1" | translate}} <a ui-sref="app.policy">{{"TERMS2" | translate}}</a> {{"TERMS4" | translate}} <a ui-sref="app.risk">{{"TERMS5" | translate}}</a>.</div>
            </div>

        </div>

    </ion-content>
</ion-view>
