<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-title>
            <span class="customTitle">{{"CHOOSEATF" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content style="top: 50px !important;">
        <div class="div90">

        </div>

        <div class="investmentBar">
            <div ng-class="{investmentBarButton: firstRobot != 'adam', investmentBarButtonActive : firstRobot == 'adam'}" ng-click=changeRobot('adam')>
                <div class="investmentBarButtonText">{{"SOLID" | translate}}</div>
            </div>
            <div ng-class="{investmentBarButtonCenter: firstRobot != 'emily', investmentBarButtonActiveCenter : firstRobot == 'emily'}" ng-click=changeRobot('emily')>
                <div class="investmentBarButtonText">{{"MODERATE" | translate}}</div>
            </div>
            <div ng-class="{investmentBarButton: firstRobot != 'bruno', investmentBarButtonActive : firstRobot == 'bruno'}" ng-click=changeRobot('bruno')>
                <div class="investmentBarButtonText">{{"AGGRESSIVE" | translate}}</div>
            </div>
        </div>

        <div class="div80">

            <div ng-switch on="firstRobot">

                <div ng-switch-when="adam">

                    <div class="investmentRobotName">{{"ADAMTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/adam.png" height="100">
                    </div>

                    <div class="investmentRobotDescGrey">
                        {{"ADAMDESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc">
                        {{"ADAMDESC" | translate}}
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="firstDataAdam"></nvd3>
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton" ng-click="chooseFirstRobot()">
                        {{"CHOOSEATF" | translate}}
                    </div>

                </div>

                <div ng-switch-when="emily">

                    <div class="investmentRobotName">{{"EMILYTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/emily.png" height="100">
                    </div>

                    <div class="investmentRobotDescGrey">
                        {{"EMILYDESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc">
                        {{"EMILYDESC" | translate}}
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="firstDataEmily"></nvd3>
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton" ng-click="chooseFirstRobot()">
                        {{"CHOOSEATF" | translate}}
                    </div>

                </div>

                <div ng-switch-when="bruno">

                    <div class="investmentRobotName">{{"BRUNOTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/bruno.png" height="100">
                    </div>

                    <div class="investmentRobotDescGrey">
                        {{"BRUNODESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc">
                        {{"BRUNODESC" | translate}}
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="firstDataBruno"></nvd3>
                    </div>

                    <div class="button button-clear buttonCut trueBlueButton" ng-click="chooseFirstRobot()">
                        {{"CHOOSEATF" | translate}}
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
