<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"DEPOSIT" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div90">

            <!--Deposit with credit card-->

            <div class="depositRow">
                <div class="depositCheckbox">
                    <i class="icon ion-ios-circle-outline" style="font-size: 22px; color: #00B3FF; " ng-click="choosePaymentType(0)" ng-show="paymentType != 0"></i>
                    <i class="icon ion-ios-circle-filled" style="font-size: 22px; color: #00B3FF; " ng-show="paymentType == 0"></i>
                </div>
                <div class="depositPaymentType">
                    {{"CC" | translate}} &nbsp;
                    <span class="depositVisaMastercard"><img src="img/visa-mastercard.png" height="20"></span>
                </div>
            </div>

            <div ng-show="paymentType == 0">

                <div class="customInput">

                    <!--<select class="depositInput" style="text-transform: capitalize;" ng-model="creditCard.robot" ng-options="robot for robot in robots" ng-init="creditCard.robot = creditCard.robot || robots[0]" required></select>-->

                    <!--<select  ng-model="creditCard.robot" required>-->
                        <!--<option value="">Choose ATF</option>-->
                        <!--<option value="{{adamTPname}}">Adam ATF</option>-->
                        <!--<option value="{{emilyTPname}}">Emily ATF</option>-->
                        <!--<option value="{{brunoTPname}}">Bruno ATF</option>-->
                    <!--</select>-->

                    <!--<select ng-model="creditCard.robot" class="depositInput">-->
                        <!--<option ng-repeat="option in accountsList" value="{{option.ClientNumber}}">{{option.RobotName}}</option>-->
                    <!--</select>-->

                    <select ng-options="option.RobotName for option in accountsList track by option.ClientNumber" ng-model="creditCard.robot" required></select>

                </div>

                <!--<div class="customInput">-->
                    <!--<input type="tel" ng-model="creditCard.amount" placeholder='{{"SELECTAMOUNT" | translate}}'>-->
                <!--</div>-->

                <form name="form.creditCardDepositForm" novalidate="" ng-submit="makeCreditCardDeposit()">

                    <div class="customInput">
                        <input type="tel" placeholder='{{"SELECTAMOUNT" | translate}}' name="card_amount" ng-model="creditCard.amount" ng-required="true">
                    </div>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_amount.$error.required">Please write amount.</p>

                    <div class="customInput">
                        <select ng-model="creditCard.type" name="card_type" ng-options="type for type in types" ng-init="creditCard.type = creditCard.type || types[0]" ng-required="true"></select>
                    </div>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_type.$error.required">Please choose the type.</p>

                    <div class="customInput">
                        <input type="text" placeholder="Card holder" name="card_name" ng-model="creditCard.name" ng-required="true">
                    </div>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_name.$error.required">Please write your name.</p>

                    <div class="customInput">
                        <input type="tel" name="card_number" placeholder="Card number" ng-model="creditCard.number" cc-number cc-format cc-type="creditCard.type" ng-required="true">
                    </div>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_number.$error.required">Please write card number.</p>
                    <p class="customErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_number.$invalid">Please write valid card number.</p>

                    <div class="row100">
                        <div cc-exp>
                            <div class="depositInputMM customInput">
                                <input type="tel" placeholder="MM" name="card_month" cc-exp-month ng-model="creditCard.month" ng-required="true">
                            </div>
                            <div class="depositInputYY customInput">
                                <input type="tel" placeholder="YY" name="card_year" cc-exp-year ng-model="creditCard.year" ng-required="true">
                            </div>
                        </div>
                        <div class="depositInputCVV customInput">
                            <input type="tel" placeholder="CVV" name="card_cvv" ng-model="creditCard.cvv" cc-cvc ng-required="true">
                        </div>
                    </div>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_month.$error.required">Please write month.</p>
                    <p class="customErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_month.$invalid">Please write valid month.</p>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_year.$error.required">Please write year.</p>
                    <p class="customErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_year.$invalid">Please write valid year.</p>
                    <p class="customErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.$error.ccExp">Month/year pair is not valid.</p>
                    <p class="customErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_cvv.$error.required">Please write cvv.</p>
                    <p class="customErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_cvv.$invalid">Please write valid cvv.</p>

                    <button type="submit" class="button button-clear buttonCut trueBlueButton">
                        {{"PROCEED" | translate}}
                    </button>

                </form>

                <!--<button class="button button-clear buttonCut trueBlueButton" ng-click="makeCreditCardDeposit()">-->
                    <!--{{"PROCEED" | translate}}-->
                <!--</button>-->

            </div>

            <!--<div>-->
                <!--<button class="button button-balanced" ng-click="getJournal()">Get Journal data for CC</button>-->
            <!--</div>-->

            <!--Deposit with Wire Transfer-->

            <div class="depositRow">
                <div class="depositCheckbox">
                    <i class="icon ion-ios-circle-outline" style="font-size: 22px; color: #00B3FF; " ng-click="choosePaymentType(1)" ng-show="paymentType != 1"></i>
                    <i class="icon ion-ios-circle-filled" style="font-size: 22px; color: #00B3FF; " ng-show="paymentType == 1"></i>
                </div>
                <div class="depositPaymentType">
                    <span class="depositWireTransfer"><img src="img/wire_transfer.png" height="30"></span>
                </div>
            </div>

            <div ng-show="paymentType == 1">

                <div class="customInput">
                    <input type="tel" placeholder="Amount" ng-model="wireTransfer.amount">
                </div>
                <div class="customInput">
                    <input type="tel" placeholder="Currency" ng-model="wireTransfer.currency">
                </div>

                <div class="row100 pv5">
                    <a href="" ng-click="downloadInfo()" style="color: white;">{{"BANKINFO" | translate}}</a>
                </div>

                <div class="row100 pv5">
                    *{{"CONFIRMATION" | translate}}
                </div>

                <div class="row100">
                    <div class="depositCamera" ng-click="getPhotoFromGallery()">{{"CAMERA" | translate}}</div>
                </div>

                <div ng-show="image != ''" class="depositConfirmationImage">
                    <img ng-src={{image}} style="width: 100%;">
                </div>

                <button type="submit" class="button button-clear buttonCut trueBlueButton" ng-click="makeWireTransferDeposit()">
                    {{"SUBMIT" | translate}}
                </button>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>


