<ion-modal-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear modalBackButton" ng-click="hideModalContactUs()">
                <img src="img/back.png" width="20">
            </button>
        </div>
        <div class="title">
            <span class="customTitle">{{"CONTACTUS" | translate}}</span>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="div90">

            <div class="row100 font12 mb10">
                {{"SUPPORTINFO" | translate}}
            </div>

            <div class="row100 font12"><span style="font-weight: bold">{{"PHONE" | translate}}:</span> +441518080174</div>
            <div class="row100 font12"><span style="font-weight: bold">{{"EMAIL" | translate}}:</span> support@atech.trade</div>
            <div class="row100 font12"><span style="font-weight: bold">{{"ADDRESS" | translate}}:</span> Kingston, VC0100 St. Vincent & the Grenadines</div>

            <div class="customInput">
                <input placeholder='{{"NAME" | translate}}' type="text" ng-model="contactData.name" required>
            </div>
            <div class="customInput">
                <input placeholder='{{"EMAIL" | translate}}' type="email" ng-model="contactData.email" required>
            </div>
            <div class="customInput">
                <input placeholder='{{"PHONE" | translate}}' type="tel" ng-model="contactData.phone">
            </div>

            <div class="customInput">
                <textarea class="contactUsInputTextarea" placeholder='{{"MESSAGE" | translate}}' ng-model="contactData.subject" rows="3" required></textarea>
            </div>

            <button class="button button-clear buttonCut trueBlueButton" ng-click="contactUs()">
                {{"SEND" | translate}}
            </button>

        </div>

    </ion-content>
</ion-modal-view>