<ion-modal-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear modalBackButton" ng-click="hideModalForgotPassword()">
                <img src="img/back.png" width="20">
            </button>
        </div>
        <div class="title">
            <span class="customTitle">{{"FORGOT" | translate}}</span>
        </div>
    </ion-header-bar>
    <ion-content class="has-footer" style="bottom: 70px;">

        <div class="div90">

            <div class="forgotPasswordText">
                {{"FORGOTDESC" | translate}}
            </div>

            <div class="customInput">
                <input type="email" ng-model="forgot.email" placeholder='{{"EMAIL" | translate}}'>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="customFooter">
        <button class="button button-clear buttonCut trueBlueButton" style="font-weight: bold;" ng-click="sendForgotPassword()">
            {{"SEND" | translate}}
        </button>
    </ion-footer-bar>
</ion-modal-view>