<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"ACCOUNTOVERVIEW" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div90">

            <div class="row100" style="margin-bottom: 10px;">
                <div class="row50">
                    <div>{{"HELLO" | translate}} {{information.FirstName}} {{information.LastName}}</div>
                </div>

                <div class="row50" style="text-align: right;">
                    24.01.2017
                </div>
            </div>

            <div class="row100 font12">
                <div class="myAccountRow18">{{"ACCOUNT" | translate}}</div>
                <div class="myAccountRow24">{{"ATF" | translate}}</div>
                <div class="myAccountRow20">{{"BAL" | translate}}</div>
                <div class="myAccountRow13">{{"EQ" | translate}}</div>
                <div class="myAccountRow13">{{"GAIN" | translate}}</div>
                <div class="myAccountRow12">{{"MODE" | translate}}</div>
            </div>

            <!--ng-repeat must be here-->

            <div class="row100 font12">
                <div class="myAccountRow18">243562</div>
                <div class="myAccountRow24">Aggressive</div>
                <div class="myAccountRow20">$0</div>
                <div class="myAccountRow13">$0</div>
                <div class="myAccountRow13">$0</div>
                <div class="myAccountRow12">
                    <div class="myAccountToggle">
                        ON &nbsp; <i class="icon ion-record" style="font-size: 12px;"></i>
                    </div>
                </div>
            </div>

            <div class="row100 font12">
                <div class="myAccountRow18">{{ "TOTAL" | translate }}</div>
                <div class="myAccountRow24">&nbsp;</div>
                <div class="myAccountRow20">$0</div>
                <div class="myAccountRow13">$0</div>
                <div class="myAccountRow13">$0</div>
                <div class="myAccountRow12"></div>
            </div>

            <div class="customInput" style="margin-top: 10px;">
                <select ng-model="selected.interval">
                    <option ng-repeat="item in intervals" value="{{item.id}}">{{item.title}}</option>
                </select>
            </div>

            <div class="row100">
                <video loop autoplay style="width: 100%;">
                    <source src="img/graph.wmv">
                </video>
            </div>

            <div class="button button-clear buttonCut trueBlueButton" ui-sref="app.deposit">
             {{"COMPLETEDEPOSIT" | translate}}
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
