<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-title>
            <span class="customTitle">{{"VERIFICATION" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-footer">

        <div class="div90">

            <div class="phoneHeader"><img src="img/verify.png" height="50"></div>

            <div class="phoneHeaderText">{{"VERIFICATION2" | translate}}</div>

            <div class="row100 centering pv5">
                {{"VERIFICATIONDESC" | translate}}
            </div>

            <div class="phoneInputHeader">
                {{"PHONENUMBER" | translate}}
            </div>

            <div class="customInputText">
                {{clientPhone}}
            </div>

            <div class="button button-clear buttonCut trueBlueButton" ng-click="sendSms()">
                <span ng-show="showVerificationInput != true">{{"SEND" | translate}}</span>
                <span ng-show="showVerificationInput == true">{{"SENDAGAIN" | translate}}</span>
            </div>

            <div class="customInput" ng-show="showVerificationInput == true">
                <input type="tel" placeholder="Code" ng-model="sendCodeData.code">
            </div>

            <button class="button button-clear buttonCut trueBlueButton" ng-show="showVerificationInput == true" ng-click="checkCode()">
                {{"SUBMIT" | translate}}
            </button>

            <div class="phoneContactUs">{{"VERIFICATIONCONTACT1" | translate}} <a href="" style="color: #f1f2f3;" ng-click="openModalContactUs()">{{"VERIFICATIONCONTACT2" | translate}}</a> {{"VERIFICATIONCONTACT3" | translate}}</div>

        </div>

    </ion-content>
</ion-view>
