<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-title>
            <span class="customTitle">{{"CHOOSEATF" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>

        <div class="div80">

            <div>
                <img src="img/steps-2.png" style="width: 100%; margin-top: 10px;">
            </div>

        </div>

            <div class="investmentBar">
                <div class="investmentSubBar">
                    <div ng-class="{investmentBarButton: firstRobot != 'adam', investmentBarButtonActive : firstRobot == 'adam'}" ng-click=changeRobot('adam')>
                        <div class="investmentBarButtonText">{{"ADAM" | translate}}</div>
                    </div>
                    <div ng-class="{investmentBarButton: firstRobot != 'emily', investmentBarButtonActive : firstRobot == 'emily'}" ng-click=changeRobot('emily')>
                        <div class="investmentBarButtonText">{{"EMILY" | translate}}</div>
                    </div>
                    <div ng-class="{investmentBarButton: firstRobot != 'bruno', investmentBarButtonActive : firstRobot == 'bruno'}" ng-click=changeRobot('bruno')>
                        <div class="investmentBarButtonText">{{"BRUNO" | translate}}</div>
                    </div>
                </div>
            </div>

        <div class="div80">

            <div ng-switch on="firstRobot">

                <div ng-switch-when="adam">

                    <div class="investmentRobotName">{{"ADAMTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/adam.png" height="100">
                    </div>

                    <div class="investmentRobotDescGrey">
                        {{"ADAMDESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc">
                        {{"ADAMDESC" | translate}}
                    </div>

                    <div class="investmentRobotVoiceDiv">
                        <audio controls class="investmentRobotVoice">
                            <source src="media/test.mp3">
                        </audio>
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataAdam"></nvd3>
                    </div>

                    <div class="investmentStats">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $3,567</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 2%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 12%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 8%</div>
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="chooseFirstRobot()">
                        {{"CHOOSEATF" | translate}}
                    </div>

                </div>

                <div ng-switch-when="emily">

                    <div class="investmentRobotName">{{"EMILYTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/emily.png" height="100">
                    </div>

                    <div class="investmentRobotDescGrey">
                        {{"EMILYDESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc">
                        {{"EMILYDESC" | translate}}
                    </div>

                    <div class="investmentRobotVoiceDiv">
                        <audio controls class="investmentRobotVoice">
                            <source src="media/test.mp3">
                        </audio>
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataEmily"></nvd3>
                    </div>

                    <div class="investmentStats">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $8,285</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 2%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 4%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 15%</div>
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="chooseFirstRobot()">
                        {{"CHOOSEATF" | translate}}
                    </div>

                </div>

                <div ng-switch-when="bruno">

                    <div class="investmentRobotName">{{"BRUNOTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/bruno.png" height="100">
                    </div>

                    <div class="investmentRobotDescGrey">
                        {{"BRUNODESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc">
                        {{"BRUNODESC" | translate}}
                    </div>

                    <div class="investmentRobotVoiceDiv">
                        <audio controls class="investmentRobotVoice">
                            <source src="media/test.mp3">
                        </audio>
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataBruno"></nvd3>
                    </div>

                    <div class="investmentStats">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $5,065</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 2%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 6%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 24%</div>
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="chooseFirstRobot()">
                        {{"CHOOSEATF" | translate}}
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
