<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"DEPOSIT" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80">

            <!--Deposit with credit card-->

            <div class="depositRow">
                <div class="depositCheckbox">
                    <img src="img/checkbox_empty.png" width="20" ng-click="choosePaymentType(1)" ng-show="paymentType != 1">
                    <img src="img/checkbox_full.png" width="20" ng-show="paymentType == 1">
                </div>
                <div class="depositPaymentType">
                    {{"CC" | translate}} &nbsp;
                    <span class="depositVisaMastercard"><img src="img/visa-mastercard.png" height="20"></span>
                </div>
            </div>

            <div ng-show="paymentType == 1">

                <div class="depositInputDiv">

                    <!--<select class="depositInput" style="text-transform: capitalize;" ng-model="creditCard.robot" ng-options="robot for robot in robots" ng-init="creditCard.robot = creditCard.robot || robots[0]" required></select>-->

                    <!--<select  ng-model="creditCard.robot" required>-->
                        <!--<option value="">Choose ATF</option>-->
                        <!--<option value="{{adamTPname}}">Adam ATF</option>-->
                        <!--<option value="{{emilyTPname}}">Emily ATF</option>-->
                        <!--<option value="{{brunoTPname}}">Bruno ATF</option>-->
                    <!--</select>-->

                    <!--<select ng-model="creditCard.robot" class="depositInput">-->
                        <!--<option ng-repeat="option in accountsList" value="{{option.ClientNumber}}">{{option.RobotName}}</option>-->
                    <!--</select>-->

                    <select class="depositInput" ng-options="option.RobotName for option in accountsList track by option.ClientNumber"
                            ng-model="creditCard.robot" required></select>

                </div>

                <div class="depositInputDiv">
                    <input type="tel" class="depositInput" ng-model="creditCard.amount" placeholder='{{"SELECTAMOUNT" | translate}}'>
                </div>

                <button class="button button-clear buttonCut depositSubmit" ng-click="makeCreditCardDeposit()">
                    {{"PROCEED" | translate}}
                </button>

                <!--<form name="form.creditCardDepositForm" novalidate="" ng-submit="makeCreditCardDeposit()">-->

                    <!--<div class="depositInputDiv">-->
                        <!--<select class="depositInput" ng-model="creditCard.type" name="card_type" ng-options="type for type in types" ng-init="creditCard.type = creditCard.type || types[0]" ng-required="true"></select>-->
                    <!--</div>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_type.$error.required">Please choose the type.</p>-->

                    <!--<div class="depositInputDiv">-->
                        <!--<input class="depositInput" type="text" placeholder="Card holder" name="card_name" ng-model="creditCard.name" ng-pattern="creditCardDepositPatterns.name" ng-required="true">-->
                    <!--</div>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_name.$error.required">Please write your name.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_name.$invalid">Please write valid name.</p>-->

                    <!--<div class="depositInputDiv">-->
                        <!--<input class="depositInput" type="tel" name="card_number" placeholder="Card number" ng-model="creditCard.number" cc-number cc-format cc-type="creditCard.type" ng-required="true">-->
                    <!--</div>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_number.$error.required">Please write card number.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_number.$invalid">Please write valid card number.</p>-->

                    <!--<div class="depositInputRow">-->
                        <!--<div cc-exp>-->
                            <!--<div>-->
                                <!--<input class="depositInputMM" type="tel" placeholder="MM" name="card_month" cc-exp-month ng-model="creditCard.month" ng-required="true">-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<input class="depositInputYY" type="tel" placeholder="YY" name="card_year" cc-exp-year ng-model="creditCard.year" ng-required="true">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<input class="depositInputCVV" type="tel" placeholder="CVV" name="card_cvv" ng-model="creditCard.cvv" cc-cvc ng-required="true">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_month.$error.required">Please write month.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_month.$invalid">Please write valid month.</p>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_year.$error.required">Please write year.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_year.$invalid">Please write valid year.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.$error.ccExp">Month/year pair is not valid.</p>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_cvv.$error.required">Please write cvv.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_cvv.$invalid">Please write valid cvv.</p>-->

                    <!--<div class="depositInputDiv">-->
                        <!--<input class="depositInput" type="tel" placeholder="Select amount: at least 1000" name="card_amount" ng-model="creditCard.amount" ng-pattern="creditCardDepositPatterns.amount" ng-required="true">-->
                    <!--</div>-->
                    <!--<p class="depositErrorRequired" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_amount.$error.required">Please write amount.</p>-->
                    <!--<p class="depositErrorInvalid" ng-show="form.creditCardDepositForm.$submitted && form.creditCardDepositForm.card_amount.$invalid">The amount must be over 1000.</p>-->

                    <!--<button type="submit" class="button button-clear buttonCut depositSubmit">-->
                        <!--Submit-->
                    <!--</button>-->

                <!--</form>-->

            </div>

            <!--Deposit with Neteller-->

            <div class="depositRow">
                <div class="depositCheckbox">
                    <img src="img/checkbox_empty.png" width="20" ng-click="choosePaymentType(2)" ng-show="paymentType != 2">
                    <img src="img/checkbox_full.png" width="20" ng-show="paymentType == 2">
                </div>
                <div class="depositPaymentType">
                    <span class="depositNeteller"><img src="img/neteller.png" height="40"></span>
                </div>
            </div>

            <div ng-show="paymentType == 2">

                <button class="button button-balanced" ng-click="getJournal()">Get Journal data for CC</button>

            </div>

            <!--Deposit with Scrill-->

            <div class="depositRow">
                <div class="depositCheckbox">
                    <img src="img/checkbox_empty.png" width="20" ng-click="choosePaymentType(3)" ng-show="paymentType != 3">
                    <img src="img/checkbox_full.png" width="20" ng-show="paymentType == 3">
                </div>
                <div class="depositPaymentType">
                    <span class="depositScrill"><img src="img/scrill.png" height="20"></span>
                </div>
            </div>

            <div ng-show="paymentType == 3">
                Here must be Scrill
            </div>

            <!--Deposit with Wire Transfer-->

            <div class="depositRow">
                <div class="depositCheckbox">
                    <img src="img/checkbox_empty.png" width="20" ng-click="choosePaymentType(4)" ng-show="paymentType != 4">
                    <img src="img/checkbox_full.png" width="20" ng-show="paymentType == 4">
                </div>
                <div class="depositPaymentType">
                    <span class="depositWireTransfer"><img src="img/wire_transfer.png" height="30"></span>
                </div>
            </div>

            <div ng-show="paymentType == 4">

                <div class="depositInputDiv">
                    <input class="depositInput" type="tel" placeholder="Amount" ng-model="wireTransfer.amount">
                </div>
                <div class="depositInputDiv">
                    <input class="depositInput" type="tel" placeholder="Currency" ng-model="wireTransfer.currency">
                </div>

                <div class="depositBankInformation">
                    <a href="">{{"BANKINFO" | translate}}</a>
                </div>

                <div class="depositBankInformation">
                    *{{"CONFIRMATION" | translate}}
                </div>

                <div class="depositBankRow">
                    <div class="depositBankGallery">
                        <button ng-click="getPhotoFromGallery()" class="button button-clear buttonCut depositBankGalleryButton">
                            {{"UPLOAD" | translate}}
                        </button>
                    </div>
                    <div class="depositBankCamera">
                        <button ng-click="getPhotoFromCamera()" class="button button-clear buttonCut depositBankCameraButton">
                            {{"CAMERA" | translate}}
                        </button>
                    </div>

                </div>

                <div ng-show="image != ''" class="depositConfirmationImage">
                    <img ng-src={{image}} style="width: 100%;">
                </div>

                <button type="submit" class="button button-clear buttonCut depositSubmit" ng-click="makeWireTransferDeposit()">
                    {{"SUBMIT" | translate}}
                </button>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>


