<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"FAQ" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80" style="margin-top: 10px;">

            <ion-list>

                <div ng-repeat="item in FAQ">

                    <div class="FAQitem" ng-click="toggleGroup(item.index)" ng-class="{active: isGroupShown(item.index), 'FAQtitleOpen': isGroupShown(item.index)}">

                        <div class="FAQitemTitle">

                            <div class="FAQtitle">
                                <span class="FAQtitleText" ng-class="{'FAQtitleTextOpen': isGroupShown(item.index)}">{{ item.question }}</span>
                            </div>

                            <div class="FAQitemArrow" ng-class="{'FAQtitleOpen': isGroupShown(item.index)}">
                                <img src="img/down.png" width="15" ng-show="!isGroupShown(item.index)">
                                <img src="img/up.png" width="15" ng-show="isGroupShown(item.index)">
                            </div>

                        </div>

                    </div>

                    <div class="item-accordion" ng-show="isGroupShown(item.index)">

                        <div class="FAQitemText" ng-bind-html="item.answer"></div>

                    </div>

                </div>

            </ion-list>

        </div>

    </ion-content>

    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>

</ion-view>
