<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"HISTORY" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80">

            <div class="historyInputDiv">
                <select class="historyInput" ng-model="option.selected" ng-options="o for o in options" ng-init="option.selected = option.selected || options[0]" required></select>
            </div>

            <div class="historyInputDiv">{{"FROM" | translate}}:</div>

            <div class="historyInputDiv">
                <input class="historyInput" type="date" required>
            </div>

            <div class="historyInputDiv">{{"TO" | translate}}:</div>

            <div class="historyInputDiv">
                <input class="historyInput" type="date" required>
            </div>

            <div class="button button-clear buttonCut historyViewResults">
                View Results
            </div>

            <div class="historyTiles">

                <div class="historyLeftTile">

                    <div class="historyRow">
                        <div class="historyLeftText">Date</div>
                        <div class="historyRightText">10/08/16</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Type</div>
                        <div class="historyRightText">Deposit</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Reference No</div>
                        <div class="historyRightText">12345</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Method</div>
                        <div class="historyRightText">Credit Card</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Status</div>
                        <div class="historyRightText">Completed</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Invoice</div>
                        <div class="historyRightText"><a href="">Download</a></div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Amount</div>
                        <div class="historyRightText">$1500</div>
                    </div>

                </div>

                <div class="historyRightTile">

                    <div class="historyRow">
                        <div class="historyLeftText">Date</div>
                        <div class="historyRightText">10/08/16</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Type</div>
                        <div class="historyRightText">Withdrawal</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Reference No</div>
                        <div class="historyRightText">12345</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Method</div>
                        <div class="historyRightText">Credit Card</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Status</div>
                        <div class="historyRightText">Completed</div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Invoice</div>
                        <div class="historyRightText"><a href="">Download</a></div>
                    </div>

                    <div class="historyRow">
                        <div class="historyLeftText">Amount</div>
                        <div class="historyRightText">$1500</div>
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
