<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"INBOX" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80">

            <div class="inboxNumber" style="margin-top: 10px;">
                <span>({{tickets.length}}) {{"TICKETS" | translate}}</span>
                <span>({{messages.length}}) {{"MESSAGES" | translate}}</span>
                <span ng-show="unreadInbox != 0">({{unreadInbox}}) {{"UNREAD" | translate}}</span>
            </div>

            <div ng-repeat="item in inbox | orderBy : '-CreatedOn'">

                <div ng-show="item.type == 'message'">

                    <div class="inboxRow" ng-click="toggleGroup(item.index)"
                         ng-class="{active: isGroupShown(item.index), inboxMessageRead: item.UserReadMessageOn != '', inboxMessageNotRead: item.UserReadMessageOn == '',}">

                        <div class="inboxTitleRow">

                            <div class="inboxTitle">
                                <span class="inboxTitleText" ng-bind-html="item.MessageSubject"></span>
                            </div>

                            <div class="inboxArrow">
                                <img src="img/down.png" width="15" ng-show="!isGroupShown(item.index)">
                                <img src="img/up.png" width="15" ng-show="isGroupShown(item.index)">
                            </div>

                            <div class="inboxDate">{{item.CreatedOn | date: "MMM dd" }}</div>

                        </div>



                    </div>

                    <div ng-show="isGroupShown(item.index)">

                        <div class="inboxText" ng-bind-html="item.MessageBody"></div>

                        <div class="inboxButtons">
                            <a href="" ng-click="deleteMessage(item.Key)" style="color: #b2b2b2">{{"DELETE" | translate}}</a>
                            &nbsp;
                            <a href="" ng-click="readMessage(item.Key)" ng-show="item.UserReadMessageOn == ''" style="color: #b2b2b2">{{"MARK" | translate}}</a>
                        </div>

                    </div>

                </div>

                <div ng-show="item.type == 'ticket'">

                    <div class="inboxRow" ng-click="toggleGroup(item.index)" ng-class="{active: isGroupShown(item.index)}">

                        <div class="inboxTitleRow">

                            <div class="inboxTitle">
                                <span class="inboxTitleText">{{ item.Title }}</span>
                            </div>

                            <div class="inboxArrow">
                                <img src="img/down.png" width="15" ng-show="!isGroupShown(item.index)">
                                <img src="img/up.png" width="15" ng-show="isGroupShown(item.index)">
                            </div>

                            <div class="inboxDate">{{item.CreatedOn | date: "MMM dd" }}</div>

                        </div>



                    </div>

                    <div ng-show="isGroupShown(item.index)">

                        <div class="inboxText">

                            <div ng-bind-html="item.SubjectComplain"></div>

                            <div class="inboxFeedback">
                                {{item.ComplainerFeedback}}
                                <span ng-show="item.ComplainerFeedback == ''">{{"INPROCESS" | translate}}</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
