<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"INFO" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80">

            <div class="infoExplanation">
                {{"INFODESC" | translate}}<a ui-sref="app.support">{{"INFODESC2" | translate}}</a>.
            </div>

            <div class="infoNonEditable">
                {{information.LastName}}
            </div>

            <div class="infoNonEditable">
                {{information.FirstName}}
            </div>

            <div class="infoNonEditable">
                {{information.Email}}
            </div>

            <div class="infoNonEditable">
                {{information.Birthday | date : "dd MMM yyyy"}}
            </div>

            <div class="infoNonEditable">
                {{information.UseCurrencyByDefault}}
            </div>

            <div class="infoNonEditable">
                {{information['1stPhone']}}
            </div>

            <div class="infoNonEditable">
                {{information.Country}}
            </div>

            <div class="infoPasswordHeader">
                {{"CHANGELANG" | translate}}
            </div>

            <div>
                <select class="infoLanguages" ng-model="selectedLanguage.lang">
                    <option value="en" selected>EN</option>
                    <option value="fr">FR</option>
                    <option value="sa">العربية</option>
                    <option value="it">IT</option>
                    <option value="ru">RU</option>
                    <option value="de">DE</option>
                </select>
            </div>

            <button class="button button-clear buttonCut invoSaveButton">
                {{"CHANGE" | translate}}
            </button>

            <div class="infoPasswordHeader">
                {{"CHANGEPASS" | translate}}
            </div>

            <form name="form.makeNewPassword" novalidate="" ng-submit="sendChangePassword()">

                <div>
                    <input class="infoEditable" type="password" placeholder='{{"CURRPASS" | translate}}' name="current_password" ng-model="changePassword.currentPassword" ng-required="true">
                </div>
                <div class="infoErrorRequired" ng-show="form.makeNewPassword.$submitted && form.makeNewPassword.current_password.$error.required">'{{"CURRPASSERR" | translate}}'</div>

                <div>
                    <input class="infoEditable" type="password" placeholder='{{"NEWPASS" | translate}}' name="new_password" ng-model="changePassword.newPassword" ng-pattern="patterns.password" ng-required="true">
                </div>
                <div class="infoPassword" ng-show="form.makeNewPassword.new_password.$dirty">{{"PASSINFO" | translate}}</div>
                <div class="infoErrorRequired" ng-show="form.makeNewPassword.$submitted && form.makeNewPassword.new_password.$error.required">{{"PASSERR" | translate}}</div>
                <div class="infoErrorInvalid" ng-show="form.makeNewPassword.$submitted && form.makeNewPassword.new_password.$invalid">{{"PASSERR2" | translate}}</div>

                <div>
                    <input class="infoEditable" placeholder='{{"PASSCONF" | translate}}' type="password" name="confirm_password" ng-model="changePassword.ConfirmPassword" ng-pattern="patterns.password_confirmation" ng-required="true">
                </div>
                <div class="infoErrorRequired" ng-show="form.makeNewPassword.$submitted && form.makeNewPassword.confirm_password.$error.required">{{"PASSCONFERR" | translate}}</div>
                <div class="infoErrorInvalid"  ng-show="form.makeNewPassword.$submitted && form.makeNewPassword.confirm_password.$invalid">{{"PASSCONFERR2" | translate}}</div>

                <button type="submit" class="button button-clear buttonCut invoSaveButton">
                    {{"SAVEPASS" | translate}}
                </button>

            </form>

        </div>

    </ion-content>

    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>

</ion-view>
