<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"MANAGEINVESTMENT" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="investmentBar">
            <div class="investmentSubBar">
                <div ng-class="{investmentBarButton: robot != 'adam', investmentBarButtonActive : robot == 'adam'}" ng-click=changeRobot('adam')>
                    <div class="investmentBarButtonText">{{"ADAM" | translate}}</div>
                </div>
                <div ng-class="{investmentBarButton: robot != 'emily', investmentBarButtonActive : robot == 'emily'}" ng-click=changeRobot('emily')>
                    <div class="investmentBarButtonText">{{"EMILY" | translate}}</div>
                </div>
                <div ng-class="{investmentBarButton: robot != 'bruno', investmentBarButtonActive : robot == 'bruno'}" ng-click=changeRobot('bruno')>
                    <div class="investmentBarButtonText">{{"BRUNO" | translate}}</div>
                </div>
            </div>
        </div>

        <div class="div80">

            <div ng-switch on="robot">

                <div ng-switch-when="adam">

                    <div class="investmentRobotName">{{"ADAMTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/adam.png" height="100">
                    </div>

                    <div class="investmentBalanceEquity" ng-show="activeRobots.adam">
                        <div class="investmentBalance">
                            <div class="investmentStatsBold">{{"BALANCE" | translate}}</div>
                            <div>${{activeRobots.adam.SpareExtFld02}}</div>
                        </div>
                        <div class="investmentEquity">
                            <div class="investmentStatsBold">{{"EQUITY" | translate}}</div>
                            <div>${{activeRobots.adam.SpareExtFld03}}</div>
                        </div>
                    </div>

                    <div class="investmentRobotDescGrey" ng-show="!activeRobots.adam">
                        {{"ADAMDESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc" ng-show="!activeRobots.adam">
                        {{"ADAMDESC" | translate}}
                    </div>

                    <div class="investmentRobotVoiceDiv" ng-show="!activeRobots.adam">
                        <audio controls class="investmentRobotVoice">
                            <source src="http://tapper.co.il/trade/Adam.mp3">
                        </audio>
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataAdam"></nvd3>
                    </div>

                    <div class="investmentStats" ng-show="!activeRobots.adam">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $3,567</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 2%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 12%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 8%</div>
                    </div>

                    <div class="investmentStats" ng-show="activeRobots.adam">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $0</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 0%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 0%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 0%</div>
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="completeDeposit(adamTPname, activeRobots.adam.ClientNumber)" ng-show="activeRobots.adam">
                        {{"COMPLETEDEPOSIT" | translate}}
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="startInvest(adamTPname)" ng-show="!activeRobots.adam">
                        {{"STARTINVESTING" | translate}}
                    </div>

                    <!--<div class="investmentButtons" ng-show="">-->

                        <!--<div class="investmentButtonLeft" ui-sref="app.deposit">-->
                            <!--Add Money-->
                        <!--</div>-->

                        <!--<div class="investmentButtonRight" ui-sref="app.withdrawal">-->
                            <!--Withdrawal-->
                        <!--</div>-->

                    <!--</div>-->

                </div>

                <div ng-switch-when="emily">

                    <div class="investmentRobotName">{{"EMILYTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/emily.png" height="100">
                    </div>

                    <div class="investmentBalanceEquity" ng-show="activeRobots.emily">
                        <div class="investmentBalance">
                            <div class="investmentStatsBold">{{"BALANCE" | translate}}</div>
                            <div>${{activeRobots.emily.SpareExtFld02}}</div>
                        </div>
                        <div class="investmentEquity">
                            <div class="investmentStatsBold">{{"EQUITY" | translate}}</div>
                            <div>${{activeRobots.emily.SpareExtFld03}}</div>
                        </div>
                    </div>

                    <div class="investmentRobotDescGrey" ng-show="!activeRobots.emily">
                        {{"EMILYDESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc" ng-show="!activeRobots.emily">
                        {{"EMILYDESC" | translate}}
                    </div>

                    <div class="investmentRobotVoiceDiv" ng-show="!activeRobots.emily">
                        <audio controls class="investmentRobotVoice">
                            <source src="http://tapper.co.il/trade/Emily.wav">
                        </audio>
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataEmily"></nvd3>
                    </div>

                    <div class="investmentStats" ng-show="!activeRobots.emily">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $8,285</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 2%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 4%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 15%</div>
                    </div>

                    <div class="investmentStats" ng-show="activeRobots.emily">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $0</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 0%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 0%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 0%</div>
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="completeDeposit(emilyTPname, activeRobots.emily.ClientNumber)" ng-show="activeRobots.emily">
                        {{"COMPLETEDEPOSIT" | translate}}
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="startInvest(emilyTPname)" ng-show="!activeRobots.emily">
                        {{"STARTINVESTING" | translate}}
                    </div>

                </div>

                <div ng-switch-when="bruno">

                    <div class="investmentRobotName">{{"BRUNOTITLE" | translate}}</div>

                    <div class="investmentRobotPic">
                        <img src="img/bruno.png" height="100">
                    </div>

                    <div class="investmentBalanceEquity" ng-show="activeRobots.bruno">
                        <div class="investmentBalance">
                            <div class="investmentStatsBold">{{"BALANCE" | translate}}</div>
                            <div>${{activeRobots.bruno.SpareExtFld02}}</div>
                        </div>
                        <div class="investmentEquity">
                            <div class="investmentStatsBold">{{"EQUITY" | translate}}</div>
                            <div>${{activeRobots.bruno.SpareExtFld03}}</div>
                        </div>
                    </div>

                    <div class="investmentRobotDescGrey" ng-show="!activeRobots.bruno">
                        {{"BRUNODESCTITLE" | translate}}
                    </div>

                    <div class="investmentRobotDesc" ng-show="!activeRobots.bruno">
                        {{"BRUNODESC" | translate}}
                    </div>

                    <div class="investmentRobotVoiceDiv" ng-show="!activeRobots.bruno">
                        <audio controls class="investmentRobotVoice">
                            <source src="http://tapper.co.il/trade/Bruno.wav">
                        </audio>
                    </div>

                    <div data-tap-disabled="true">
                        <nvd3 options="options" data="dataBruno"></nvd3>
                    </div>

                    <div class="investmentStats" ng-show="!activeRobots.bruno">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $5,065</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 2%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 6%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 24%</div>
                    </div>

                    <div class="investmentStats" ng-show="activeRobots.bruno">
                        <div><span class="investmentStatsBold">{{"PNL" | translate}}:</span> $0</div>
                        <div><span class="investmentStatsBold">{{"DAILY" | translate}}:</span> 0%</div>
                        <div><span class="investmentStatsBold">{{"MONTHLY" | translate}}:</span> 0%</div>
                        <div><span class="investmentStatsBold">{{"ANNUALLY" | translate}}:</span> 0%</div>
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="completeDeposit(brunoTPname, activeRobots.bruno.ClientNumber)" ng-show="activeRobots.bruno">
                        {{"COMPLETEDEPOSIT" | translate}}
                    </div>

                    <div class="button button-clear buttonCut investmentStartButton" ng-click="startInvest(brunoTPname)" ng-show="!activeRobots.bruno">
                        {{"STARTINVESTING" | translate}}
                    </div>

                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
