<ion-view>
    <ion-view hide-nav-bar="true" class="has-footer loginContent">

        <div class="div80">

            <div class="loginLanguageRow">
                <img src="img/gb.png" height="15" ng-show="selectedLanguage.lang == 'en'">
                <img src="img/fr.gif" height="15" ng-show="selectedLanguage.lang == 'fr'">
                <img src="img/sa.jpg" height="15" ng-show="selectedLanguage.lang == 'sa'">
                <img src="img/it.gif" height="15" ng-show="selectedLanguage.lang == 'it'">
                <img src="img/ru.jpg" height="15" ng-show="selectedLanguage.lang == 'ru'">
                <img src="img/de.gif" height="15" ng-show="selectedLanguage.lang == 'de'">
                <select class="loginCountries" ng-model="selectedLanguage.lang">
                    <option value="en" selected>EN</option>
                    <option value="fr">FR</option>
                    <option value="sa">العربية</option>
                    <option value="it">IT</option>
                    <option value="ru">RU</option>
                    <option value="de">DE</option>
                </select>
            </div>

            <div class="loginLogo">
                <img src="img/logo.png" height="100">
            </div>

            <div class="loginInputDiv">
                <input type="email" class="loginInput" placeholder="{{'EMAIL' | translate}}" ng-model="login.email">
            </div>
            <div class="loginInputDiv">
                <input type="password" class="loginInput" placeholder="{{'PASSWORD' | translate}}" ng-model="login.password">
            </div>

            <div class="loginForgotPassword">
                <a ng-click="openModalForgotPassword()" style="color:#ADADAD">{{'FORGOT' | translate}}</a>
            </div>

            <button class="button button-clear buttonCut loginButton" ng-click="makeLogin()">
                {{'LOGIN' | translate}}
            </button>

            <button class="button button-clear buttonCut loginRegisterButton" ui-sref="app.register">
                {{'REGISTER' | translate}}
            </button>

        </div>

    </ion-content>
    <ion-footer-bar class="footer loginFooter hide-on-keyboard-open">

        <div class="loginFooterRow">
                <a ui-sref="app.policy">{{'POLICY' | translate}}</a> |
                <a ui-sref="app.terms">{{'TERMS' | translate}}</a> |
                <a href="" ng-click="openModalContactUs()">{{'CONTACTUS' | translate}}</a>
        </div>

        <div class="loginFooterRow">
            Atech Technology Services Ltd 2016 ©
        </div>

        <div class="loginFooterRow" style="font-size: 10px;">
            +441518080174 | Kingston, VC0100 St. Vincent & the Grenadines
        </div>

    </ion-footer-bar>
</ion-view>
