<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar" align-title="center">
            <!--<ion-nav-back-button>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="left">
                <button class="button button-clear menuButton" menu-toggle="left">
                    <!--<img src="img/menu.png" height="30">-->
                    <i class="icon ion-navicon grayColor topIconSize" style="margin-left: 10px;"></i>
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">

                <button class="button button-clear buttonCut menuButtonMessages" ui-sref="app.inbox">
                    <!--<img src="img/header_messages.png" height="30">-->
                    <i class="icon ion-ios-email topIconSize" style="color: #b2b2b2"></i>&nbsp;
                </button>

                <button class="button button-clear buttonCut menuButtonNotifications" ui-sref="app.notifications">
                    <!--<img src="img/header_notifications.png" height="30">-->
                    <i class="icon ion-ios-bell topIconSmallSize" style="color: #b2b2b2;"></i>&nbsp;
                </button>

                <div class="menuButtonMessagesSpan" ng-show="unreadInbox != 0">{{unreadInbox}}</div>

            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="customMenu">
            <ion-list>
                <ion-item menu-close ui-sref="app.login">
                    <span>Login</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.myaccount" ng-class="{'active-menu-item': currentState == 'app.myaccount'}">
                    <!--<img src="img/menu_account.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-stats-bars"></i>&nbsp;
                        {{"ACCOUNTOVERVIEW" | translate}}</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.investment" ng-class="{'active-menu-item': currentState == 'app.investment'}">
                    <!--<img src="img/menu_investment.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-briefcase"></i>&nbsp;
                        {{"MANAGEINVESTMENT" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.reports" ng-class="{'active-menu-item': currentState == 'app.reports'}">
                    <!--<img src="img/menu_reports.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-pie-graph"></i>&nbsp;
                        {{"REPORTS" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.deposit" ng-class="{'active-menu-item': currentState == 'app.deposit'}">
                    <!--<img src="img/menu_deposit.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-card"></i>&nbsp;
                        {{"DEPOSIT" | translate}}
                    </span>
                </ion-item>
                <!--<ion-item menu-close ui-sref="app.wallet" ng-class="{'active-menu-item': currentState == 'app.wallet'}">-->
                    <!--<img src="img/wallet_white.svg" height="18">&nbsp;-->
                    <!--<span class="customMenuText">-->
                        <!--&lt;!&ndash;<i class="icon ion-cash"></i>&nbsp;&ndash;&gt;-->
                        <!--Wallet-->
                    <!--</span>-->
                <!--</ion-item>-->
                <ion-item menu-close ui-sref="app.withdrawal" ng-class="{'active-menu-item': currentState == 'app.withdrawal'}">
                    <!--<img src="img/menu_withdrawal.png" height="20">-->
                    <span class="customMenuText">
                        <i class="fa fa-university" style="font-size: 90%;" aria-hidden="true"></i>&nbsp;
                        <span style="padding-top: 5px;">{{"WITHDRAWAL" | translate}}</span>
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.history" ng-class="{'active-menu-item': currentState == 'app.history'}">
                    <!--<img src="img/menu_history.png" height="20">-->
                    <span class="customMenuText">
                        <i class="fa fa-history" aria-hidden="true"></i>&nbsp;
                        {{"HISTORY" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.information" ng-class="{'active-menu-item': currentState == 'app.information'}">
                    <!--<img src="img/menu_information.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-person"></i>&nbsp;
                        {{"INFO" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.documents" ng-class="{'active-menu-item': currentState == 'app.documents'}">
                    <!--<img src="img/menu_documents.png" height="20" >-->
                    <span class="customMenuText">
                        <i class="icon ion-document-text"></i>&nbsp;
                        {{"DOCUMENTS" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.support" ng-class="{'active-menu-item': currentState == 'app.support'}">
                    <!--<img src="img/menu_support.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-person-stalker"></i>&nbsp;
                        {{"SUPPORT" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.inbox" ng-class="{'active-menu-item': currentState == 'app.inbox'}">
                    <!--<img src="img/menu_inbox.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-ios-email" style="font-size: 120%;"></i>&nbsp;
                        {{"INBOX" | translate}}
                    </span>
                    <div class="customMenuInboxCircle" ng-show="unreadInbox != 0">{{unreadInbox}}</div>
                </ion-item>
                <ion-item menu-close ui-sref="app.notifications" ng-class="{'active-menu-item': currentState == 'app.notifications'}">
                    <!--<img src="img/menu_notification.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-ios-bell"></i>&nbsp;
                        {{"NOTIFICATIONS" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.financial" ng-class="{'active-menu-item': currentState == 'app.financial'}">
                    <!--<img src="img/menu_faq.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-ios-star"></i>&nbsp;
                        {{"MODEL" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close ui-sref="app.faq" ng-class="{'active-menu-item': currentState == 'app.faq'}">
                    <!--<img src="img/menu_faq.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-help-circled"></i>&nbsp;
                        {{"FAQ" | translate}}
                    </span>
                </ion-item>
                <ion-item menu-close  href="" ng-click="logout()">
                    <!--<img src="img/menu_logout.png" height="20">-->
                    <span class="customMenuText">
                        <i class="icon ion-power"></i>&nbsp;
                        {{"LOGOUT" | translate}}
                    </span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>


<!--<ion-side-menus enable-menu-with-back-views="true">-->
    <!--<ion-side-menu-content>-->
        <!--<ion-nav-bar class="bar" align-title="center">-->
            <!--&lt;!&ndash;<ion-nav-back-button>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-nav-back-button>&ndash;&gt;-->

            <!--<ion-nav-buttons side="left">-->
                <!--<button class="button button-clear menuButton" menu-toggle="left">-->
                    <!--&lt;!&ndash;<img src="img/menu.png" height="30">&ndash;&gt;-->
                    <!--<i class="icon ion-navicon-round grayColor" style="margin-left: 10px"></i>-->
                <!--</button>-->
            <!--</ion-nav-buttons>-->

            <!--<ion-nav-buttons side="right">-->

                <!--<button class="button button-clear buttonCut menuButtonNotifications" ui-sref="app.notifications">-->
                    <!--&lt;!&ndash;<img src="img/header_notifications_red.png" height="30">&ndash;&gt;-->
                    <!--<img src="img/header_notifications.png" height="30">-->
                    <!--&lt;!&ndash;<i class="icon ion-ios-bell-outline grayColor"></i>&ndash;&gt;-->
                <!--</button>-->

                <!--<button class="button button-clear buttonCut menuButtonMessages" ui-sref="app.inbox">-->
                    <!--&lt;!&ndash;<img src="img/header_messages_red.png" height="30" ng-show="unreadInbox != 0">&ndash;&gt;-->
                    <!--<img src="img/header_messages.png" height="30" ng-show="unreadInbox == 0">-->
                    <!--&lt;!&ndash;<i class="icon ion-ios-email-outline grayColor"></i>&ndash;&gt;-->
                <!--</button>-->
                <!--<div class="menuButtonMessagesSpan" ng-show="unreadInbox != 0">{{unreadInbox}}</div>-->

            <!--</ion-nav-buttons>-->

        <!--</ion-nav-bar>-->
        <!--<ion-nav-view name="menuContent"></ion-nav-view>-->
    <!--</ion-side-menu-content>-->

    <!--<ion-side-menu side="left">-->
        <!--<ion-content class="customMenu">-->
            <!--<ion-list>-->

                <!--<ion-item menu-close ui-sref="app.login">-->
                    <!--<span>Login</span>-->
                <!--</ion-item>-->

                <!--<ion-item menu-close ui-sref="app.myaccount" ng-class="{'active-menu-item': currentState == 'app.myaccount'}">-->
                    <!--<img src="img/menu_account.png" height="20">-->
                    <!--<span class="customMenuText">Account overview</span>-->
                <!--</ion-item>-->

                <!--<ion-item menu-close ui-sref="app.investment" ng-class="{'active-menu-item': currentState == 'app.investment'}">-->
                    <!--<img src="img/menu_investment.png" height="20">-->
                    <!--<span class="customMenuText">Manage Investment</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.reports" ng-class="{'active-menu-item': currentState == 'app.reports'}">-->
                    <!--<img src="img/menu_reports.png" height="20">-->
                    <!--<span class="customMenuText">Reports</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.deposit" ng-class="{'active-menu-item': currentState == 'app.deposit'}">-->
                    <!--<img src="img/menu_deposit.png" height="20">-->
                    <!--<span class="customMenuText">Deposit</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.wallet" ng-class="{'active-menu-item': currentState == 'app.wallet'}">-->
                    <!--<img src="img/menu_wallet.png" height="18">&nbsp;-->
                    <!--<span class="customMenuText">Wallet</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.withdrawal" ng-class="{'active-menu-item': currentState == 'app.withdrawal'}">-->
                    <!--<img src="img/menu_withdrawal.png" height="20">-->
                    <!--<span class="customMenuText">Withdrawal</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.history" ng-class="{'active-menu-item': currentState == 'app.history'}">-->
                    <!--<img src="img/menu_history.png" height="20">-->
                    <!--<span class="customMenuText">Transaction History</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.information" ng-class="{'active-menu-item': currentState == 'app.information'}">-->
                    <!--<img src="img/menu_information.png" height="20">-->
                    <!--<span class="customMenuText">Personal Information</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.documents" ng-class="{'active-menu-item': currentState == 'app.documents'}">-->
                    <!--<img src="img/menu_documents.png" height="20" >-->
                    <!--<span class="customMenuText">Upload Documents</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.support" ng-class="{'active-menu-item': currentState == 'app.support'}">-->
                    <!--<img src="img/menu_support.png" height="20">-->
                    <!--<span class="customMenuText">Customer Support</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.inbox" ng-class="{'active-menu-item': currentState == 'app.inbox'}">-->
                    <!--<img src="img/menu_inbox.png" height="20">-->
                    <!--<span class="customMenuText">Inbox</span>-->
                    <!--<div class="customMenuInboxCircle" ng-show="unreadInbox != 0">{{unreadInbox}}</div>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.notifications" ng-class="{'active-menu-item': currentState == 'app.notifications'}">-->
                    <!--<img src="img/menu_notification.png" height="20">-->
                    <!--<span class="customMenuText">Notifications</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.financial" ng-class="{'active-menu-item': currentState == 'app.financial'}">-->
                    <!--<img src="img/menu_financial.png" height="20">-->
                    <!--<span class="customMenuText">Financial Model</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ui-sref="app.faq" ng-class="{'active-menu-item': currentState == 'app.faq'}">-->
                    <!--<img src="img/menu_faq.png" height="20">-->
                    <!--<span class="customMenuText">FAQ</span>-->
                <!--</ion-item>-->
                <!--<ion-item menu-close  href="" ng-click="logout()">-->
                    <!--<img src="img/menu_logout.png" height="20">-->
                    <!--<span class="customMenuText">Logout</span>-->
                <!--</ion-item>-->
            <!--</ion-list>-->
        <!--</ion-content>-->
    <!--</ion-side-menu>-->
<!--</ion-side-menus>-->
