<!--
<ion-modal-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear modalBackButton" ng-click="hideModalRobot()">
                <img src="img/back.png" width="20">
            </button>
        </div>
        <div class="title">
            <img src="img/logo_small.png" style="height: 30px; margin-top: 10px;">
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="div80" style="text-align: center">

            <img ng-src="{{robotImage}}" class="robotHeaderImage" style="height: 100px; margin-top: 30px;">

            <div class="robotHeader">
                Add money
            </div>

            <div class="robotRow">

                <div class="robotLeftTile">
                    <div class="robotTileText">
                        Account Balance
                    </div>
                    <div class="robotTileNumbers">
                        $50,000
                    </div>
                </div>

                <div class="robotRightTile">
                    <div class="robotTileText">
                        Free Balance
                    </div>
                    <div class="robotTileNumbers">
                        $50,000
                    </div>
                </div>

            </div>

            <div class="robotFreeBalance">
                Free balance up to $50,000
            </div>

            <div class="robotInputDiv">
                <div>
                    <input class="robotInput" type="tel" placeholder="Amount">
                </div>

                <div class="robotInputButton">
                    Add money
                </div>
            </div>

            <div class="robotConditions">
                <div class="robotCheckbox">
                    <img src="img/checkbox_empty.png" width="20">
                    &lt;!&ndash;<img src="img/checkbox_full.png" width="20">&ndash;&gt;
                </div>
                <div class="robotCheckboxLabel">I accept the <a href="" ng-click="openPolicy()">privacy policy</a>, <a href="" ng-click="openTerms()">Terms & Conditions</a> and risk disclosure.</div>
            </div>

            <div class="robotDepositButton">
                Deposit money to your account
            </div>

        </div>

    </ion-content>
</ion-modal-view>-->
