<ion-modal-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear modalBackButton" ng-click="hideModalContactUs()">
                <img src="img/back.png" width="20">
            </button>
        </div>
        <div class="title">
            <span class="customTitle">{{"CONTACTUS" | translate}}</span>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="div80" style="margin-top: 10px;">

            <div>
                <input placeholder='{{"NAME" | translate}}' class="contactUsInput" type="text" ng-model="contactData.name" required>
            </div>
            <div>
                <input class="contactUsInput" placeholder='{{"EMAIL" | translate}}' type="email" ng-model="contactData.email" required>
            </div>
            <div>
                <input class="contactUsInput" placeholder='{{"PHONE" | translate}}' type="tel" ng-model="contactData.phone">
            </div>

            <div>
                <textarea class="contactUsInputTextarea" placeholder='{{"MESSAGE" | translate}}' ng-model="contactData.subject" rows="3" required></textarea>
            </div>

            <button class="button button-clear buttonCut contactUsButton" ng-click="contactUs()">
                {{"SEND" | translate}}
            </button>

        </div>

    </ion-content>
</ion-modal-view>