<ion-modal-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear modalBackButton" ng-click="hideModalForgotPassword()">
                <img src="img/back.png" width="20">
            </button>
        </div>
        <div class="title">
            <span class="customTitle">{{"FORGOT" | translate}}</span>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="div80">

            <div class="forgotPasswordText">
                {{"FORGOTDESC" | translate}}
            </div>

            <div>
                <input class="forgotPasswordInput" type="email" ng-model="forgot.email" placeholder='{{"EMAIL" | translate}}'>
            </div>

            <div class="button button-clear buttonCut forgotPasswordButton" ng-click="sendForgotPassword()">
                {{"SEND" | translate}}
            </div>

        </div>

    </ion-content>
</ion-modal-view>