<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"ACCOUNTOVERVIEW" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80">

            <div class="myAccountDiv">
                <div class="myAccountName">
                    <div class="myAccountNamePosition">{{"HELLO" | translate}} {{information.FirstName}} {{information.LastName}}</div>
                </div>

                <div class="myAccountRowTopButton">
                    <div class="myAccountUpgradeButton" ui-sref="app.deposit">
                        {{"UPGRADE" | translate}}
                    </div>
                </div>
            </div>

            <div class="myAccountRowTop">

                <div class="myAcccountLeftTileDiv">
                    <div class="myAccountLeftTile">
                        <div class="myAccountTileText">
                            {{"BALANCE" | translate}}
                        </div>
                        <div class="myAccountTileNumbers">
                            0
                        </div>
                    </div>
                </div>

                <div class="myAcccountRightTileDiv">
                    <div class="myAccountRightTile">
                        <div class="myAccountTileText" style="padding-top: 15px;">
                            {{"RANK" | translate}}
                        </div>
                        <div class="myAccountTileMedal">
                            <img src="img/silver.png" width="40">
                        </div>
                        <div class="myAccountRankLevel">
                            {{"SILVER" | translate}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="myAccountRowBottom">

                <div class="myAcccountLeftTileDiv">
                    <div class="myAccountLeftTile">
                        <div class="myAccountTileText">
                            {{"EQUITY" | translate}}
                        </div>
                        <div class="myAccountTileNumbers">
                            0
                        </div>
                    </div>
                </div>

                <div class="myAcccountRightTileDiv">
                    <div class="myAccountRightTile">
                        <div class="myAccountTileText">
                            {{"ACCOUNTPNL" | translate}}
                        </div>
                        <div class="myAccountTileNumbers">
                            0
                        </div>
                    </div>
                </div>

            </div>

            <div class="myAccountCongratulations" ng-show="step < 3">
                {{"CONGRATS" | translate}}
            </div>

            <div class="myAccountBottomText" ng-show="step < 3">
                {{"CONGRATSDESC" | translate}}
            </div>

            <div class="button button-clear buttonCut myAccountBottomButton" ui-sref="app.deposit" ng-show="step < 3">
                {{"COMPLETEDEPOSIT" | translate}}
            </div>

            <!--<button class="button button-positive button-block" ng-click="makeRobot()">-->
                <!--Robot-->
            <!--</button>-->

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
