<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-title>
            <span class="customTitle">{{"VERIFICATION" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-footer">

        <div class="div80">

            <div class="phoneHeader">
                <img src="img/verify.png" height="30">
                <span class="phoneHeaderText">{{"VERIFICATION2" | translate}}</span>
            </div>

            <div class="phoneSubheader">
                {{"VERIFICATIONDESC" | translate}}
            </div>

            <div class="phoneInputHeader">
                {{"PHONENUMBER" | translate}}
            </div>

            <div class="phoneInput">
                {{clientPhone}}
            </div>

            <div class="button button-clear buttonCut phoneButton" ng-click="sendSms()">
                <span ng-show="showVerificationInput != true">{{"SEND" | translate}}</span>
                <span ng-show="showVerificationInput == true">{{"SENDAGAIN" | translate}}</span>
            </div>

            <div ng-show="showVerificationInput == true">
                <input type="tel" class="phoneCodeInput" placeholder="Code" ng-model="sendCodeData.code">
            </div>

            <button class="button button-clear buttonCut phoneButton" ng-show="showVerificationInput == true" ng-click="checkCode()">
                {{"SUBMIT" | translate}}
            </button>

            <div class="phoneContactUs">{{"VERIFICATIONCONTACT1" | translate}} <a href="" ng-click="openModalContactUs()">{{"VERIFICATIONCONTACT2" | translate}}</a> {{"VERIFICATIONCONTACT3" | translate}}.</div>

        </div>

    </ion-content>
</ion-view>
