<ion-view>
    <ion-nav-bar class="bar" align-title="center">
        <ion-nav-back-button class="button-clear backButton">
            <img src="img/back.png" width="20">
        </ion-nav-back-button>
        <ion-nav-title>
            <span class="customTitle">{{"SIGNUP" | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>

        <div class="div80">

            <div>
                <img src="img/steps-1.png" style="width: 100%; margin: 10px 0;">
            </div>

            <form name="form.registration" novalidate="" ng-submit="makeRegistration()">

                    <div class="regInputDiv">
                        <input class="regInput" type="text" placeholder='{{"FIRSTNAME" | translate}}' name="user_firstname" ng-model="register.firstname" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_firstname.$error.required"><span class="regErrorRequired">{{"FIRSTNAMEERR" | translate}}</span></div>

                    <div class="regInputDiv">
                        <input class="regInput" placeholder='{{"LASTNAME" | translate}}' type="text" name="user_lastname" ng-model="register.lastname" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_lastname.$error.required"><span class="regErrorRequired">{{"LASTNAMEERR" | translate}}</span></div>

                    <div class="regInputDiv">
                        <input class="regInput" placeholder='{{"EMAIL" | translate}}' type="email" name="user_email" ng-model="register.email" ng-pattern="patterns.email" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_email.$error.required"><span class="regErrorRequired">{{"EMAILERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_email.$invalid"><span class="regErrorInvalid">{{"EMAILERR2" | translate}}</span></div>

                    <div class="regInputDiv">
                        <input class="regInput" placeholder='{{"PASSWORD" | translate}}' type="password" name="user_password" ng-model="register.password" ng-pattern="patterns.password" required>
                    </div>
                    <div ng-show="form.registration.user_password.$dirty"><span class="regPassword">{{"PASSINFO" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password.$error.required"><span class="regErrorRequired">{{"PASSERR3" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password.$invalid"><span class="regErrorInvalid">{{"PASSERR2" | translate}}</span></div>

                    <div class="regInputDiv">
                        <input class="regInput" placeholder='{{"PASSCONF" | translate}}' type="password" name="user_password_confirmation" ng-model="register.password_confirmation" ng-pattern="patterns.password_confirmation" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password_confirmation.$error.required"><span class="regErrorRequired">{{"PASSCONFERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_password_confirmation.$invalid"><span class="regErrorInvalid">{{"PASSCONFERR2" | translate}}</span></div>

                    <!--<div class="regInputDiv">-->
                        <!--<input class="regInput" type="date" name="user_birthday" ng-model="register.birthday" ng-pattern="patterns.birthday" required>-->
                    <!--</div>-->
                    <!--<label class="item item-input item-select itemSelected">-->
                        <!--<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" name="user_birthday" placeholder="Birthday" class="ion-input-select&#45;&#45;large itemSelectedBox" ng-model="register.birthday" ng-pattern="patterns.birthday" required>-->
                    <!--</label>-->
                    <div class="regInputDiv">
                        <input type="text" name="user_birthday" class="regInput" placeholder='{{"BIRTHDAY" | translate}}' ng-model="register.birthday" ng-click="pickDate()" ng-pattern="patterns.birthday" required>
                    </div>
                    <div ng-show="form.registration.$submitted && form.registration.user_birthday.$error.required"><span class="regErrorRequired">{{"BIRTHDAYERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_birthday.$invalid"><span class="regErrorInvalid">{{"BIRTHDAYERR2" | translate}}</span></div>

                    <!--<div class="regInputDiv">-->
                        <!--<input class="regInput" placeholder="Phone" type="tel" name="user_phone" ng-model="register.phone" ng-pattern="patterns.phone" required>-->
                    <!--</div>-->
                    <div class="regInputDiv">
                        <input class="regInputPhone" international-phone-number national-mode="false" type="tel" name="user_phone" ng-model="register.phone" required>
                    </div>
                    <div ng-show="form.registration.user_phone.$dirty"><span class="regPassword">{{"PHONEINFO" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_phone.$error.required"><span class="regErrorRequired">{{"PHONEERR" | translate}}</span></div>
                    <div ng-show="form.registration.$submitted && form.registration.user_phone.$invalid"><span class="regErrorInvalid">{{"PHONEERR2" | translate}}</span></div>

                    <div class="regInputDiv">
                        <select class="regInput" name="user_country" ng-model="register.country" pvp-country-picker="name" required></select>
                    </div>
                    <!--<label class="item item-input item-select itemSelectedCountry">-->
                         <!--<select pvp-country-picker="name" name="user_country" placeholder="Country" class="ion-input-select&#45;&#45;large itemSelectedBoxCountry" ng-model="register.country" required></select>-->
                    <!--</label>-->
                    <div ng-show="form.registration.$submitted && form.registration.user_country.$error.required"><span class="regErrorRequired">{{"COUNTRYERR" | translate}}</span></div>

                    <!--<div class="regInputDiv">-->
                        <!--<select class="regInput" ng-model="register.currency" name="user_currency" ng-options="currency for currency in currencies" ng-init="register.currency = register.currency || currencies[0]" required></select>-->
                    <!--</div>-->

                    <!--<div ng-show="form.registration.$submitted && form.registration.user_currency.$error.required"><span class="regErrorRequired">Please choose the currency.</span></div>-->

                    <!--<div class="regConditions">-->
                        <!--<input type="checkbox" id="user_a" name="user_accept" ng-model="register.accept" required>-->
                        <!--<label for="user_a">I accept the privacy policy, Terms & Conditions and risk disclosure</label>-->
                    <!--</div>-->
                    <!--<div ng-show="form.registration.$submitted && form.registration.user_accept.$error.required"><span class="regErrorRequired">Please accept the Terms and Conditions.</span></div>-->

                <button type="submit" class="button button-clear regButton buttonCut">
                    {{"OPENACCOUNT" | translate}}
                </button>

            </form>

            <div ng-show="checkboxError === true" style="padding: 5px 0;"><span class="regErrorRequired">{{"TERMSERR" | translate}}</span></div>

            <div class="regConditions">
                <div class="regCheckbox">
                    <img src="img/checkbox_empty.png" width="20" ng-click="setSquare(true)" ng-show="square === false">
                    <img src="img/checkbox_full.png" width="20" ng-click="setSquare(false)" ng-show="square === true">
                </div>
                <div class="regCheckboxLabel">{{"TERMS1" | translate}} <a ui-sref="app.policy">{{"TERMS2" | translate}}</a>, <a ui-sref="app.terms">{{"TERMS3" | translate}}</a> {{"TERMS4" | translate}}</div>
            </div>

        </div>

    </ion-content>
</ion-view>
