<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"REPORTS" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">
        <div class="div80">

            <div class="reportInputDiv" style="margin-top: 10px;">
                <select class="reportInput" ng-options="option.RobotName for option in accountsList track by option.ClientNumber"
                        ng-model="report.robot" required></select>
            </div>

            <div class="reportInputDiv">{{"FROM" | translate}}:</div>

            <div class="reportInputDiv">
                <input class="reportInput" type="date" required>
            </div>

            <div class="reportInputDiv">{{"TO" | translate}}:</div>

            <div class="reportInputDiv">
                <input class="reportInput" type="date" required>
            </div>

            <div class="reportButtons">

                <div class="reportButtonLeft">
                    {{"VIEWREPORTS" | translate}}
                </div>

                <div class="reportButtonRight">
                    {{"EXPORT" | translate}}
                </div>

            </div>

        </div>
    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
