<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"SUPPORT" | translate}}</span>
    </ion-nav-title>
    <ion-content class="has-footer bottomBarFooter">

        <div class="div80">

            <div class="supportText">
                <div style="margin-bottom: 10px;">
                    {{"SUPPORTINFO" | translate}}
                </div>

                <div><span style="font-weight: bold">{{"PHONE" | translate}}:</span> +441518080174</div>
                <div><span style="font-weight: bold">{{"EMAIL" | translate}}:</span> support@atech.trade</div>
                <div><span style="font-weight: bold">{{"ADDRESS" | translate}}:</span> Kingston, VC0100 St. Vincent & the Grenadines</div>
            </div>

            <div class="supportInput">
                <input type="text" class="supportInputTitle" ng-model="newTicket.title" placeholder='{{"SUPPORTTITLE" | translate}}' required>
            </div>
            <div class="supportInput">
                <textarea class="supportInputSubject" placeholder='{{"SUPPORTSUBJECT" | translate}}' ng-model="newTicket.subject" rows="3" required></textarea>
            </div>

            <button class="button button-clear buttonCut supportButton" ng-click="sendNewTicket()">
                {{"SEND" | translate}}
            </button>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
