<!--
<ion-view view-title="{{navTitle}}">
    <ion-content class="has-footer bottomBarFooter">

        <div class="upperBar">
            <div class="upperBarButtons">
                <div class="upperBarButton" ng-class="{upperBarButtonBackground : currentState == 'app.deposit'}" ui-sref="app.deposit">
                    <img src="img/deposit_grey.png" height="30" ng-show="currentState != 'app.deposit'">
                    <img src="img/deposit_black.png" height="30" ng-show="currentState == 'app.deposit'">
                    <div class="upperBarButtonText" ng-class="{upperBarButtonTextBlack : currentState == 'app.deposit'}">Deposit</div>
                </div>
                <div class="upperBarButton" ng-class="{upperBarButtonBackground : currentState == 'app.wallet'}" ui-sref="app.wallet">
                    <img src="img/wallet_grey.png" height="30" ng-show="currentState != 'app.wallet'">
                    <img src="img/wallet_black.png" height="30" ng-show="currentState == 'app.wallet'">
                    <div class="upperBarButtonText" ng-class="{upperBarButtonTextBlack : currentState == 'app.wallet'}">Wallet</div>
                </div>
                <div class="upperBarButton" ng-class="{upperBarButtonBackground : currentState == 'app.withdrawal'}" ui-sref="app.withdrawal">
                    <img src="img/withdrawal_grey.png" height="30" ng-show="currentState != 'app.withdrawal'">
                    <img src="img/withdrawal_black.png" height="30" ng-show="currentState == 'app.withdrawal'">
                    <div class="upperBarButtonText" ng-class="{upperBarButtonTextBlack : currentState == 'app.withdrawal'}">Withdrawal</div>
                </div>
                <div class="upperBarButton" ng-class="{upperBarButtonBackground : currentState == 'app.history'}" ui-sref="app.history">
                    <img src="img/history_grey.png" height="30" ng-show="currentState != 'app.history'">
                    <img src="img/history_black.png" height="30" ng-show="currentState == 'app.history'">
                    <div class="upperBarButtonTextLast" ng-class="{upperBarButtonTextBlack : currentState == 'app.history'}">Transaction History</div>
                </div>
            </div>
        </div>

        <div class="div80">

            <div class="walletHeader">
                Credit card / Debit card / Skrill / Neteller / Bank Account
            </div>

            <div class="walletExplanation">
            <span class="walletExplanationText">
                Here you can save your payment method for easy deposit and withdrawal.
                The bank account is only for money withdrawal.
                All details are stored safely according to PCI standards.
            </span>
            </div>

            <div class="walletAdded">

                <div class="walletAddedTitle">
                    XXXX-XXXX-XXXX-1234
                </div>

                <div class="walletAddedTitle">
                    Expires 01/17
                </div>

                <div class="walletAddedLogo">
                    <img src="img/visa.png" width="60">
                </div>

                <div class="walletAddedBottomRow">

                    <div class="walletAddedBottomLeft">
                        Default method
                    </div>

                    <div class="walletAddedBottomRight">
                        <a href="" style="color: #A1A1A1">Edit</a>
                        <a href="" style="color: #A1A1A1">Delete</a>
                    </div>

                </div>

            </div>

            <div class="walletNew">

                <div class="walletNewPlus">
                    <img src="img/plus.png" width="40">
                </div>

                <div class="walletNewLink">
                    <a href="" style="color: #A1A1A1">Add New Card / Neteller / Skrill / Bank Account</a>
                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButton" ui-sref="app.myaccount">
                <img src="img/account_overview_grey.png" width="30" ng-show="currentState != 'app.myaccount'">
                <img src="img/account_overview_black.png" width="30" ng-show="currentState == 'app.myaccount'">
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">Account Overview</div>
                <hr class="bottomBarButtonLine" ng-show="currentState == 'app.myaccount'">
            </div>
            <div class="bottomBarButton" ui-sref="app.investment">
                <img src="img/manage_investing_grey.png" width="30" ng-show="currentState != 'app.investment'">
                <img src="img/manage_investing_black.png" width="30" ng-show="currentState == 'app.investment'">
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">Manage Investment</div>
                <hr class="bottomBarButtonLine" ng-show="currentState == 'app.investment'">
            </div>
            <div class="bottomBarButton" ui-sref="app.reports">
                <img src="img/reports_grey.png" width="30" ng-show="currentState != 'app.reports'">
                <img src="img/reports_black.png" width="30" ng-show="currentState == 'app.reports'">
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">Reports</div>
                <hr class="bottomBarButtonLine" ng-show="currentState == 'app.reports'">
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
-->
