<ion-view>
    <ion-nav-title>
        <span class="customTitle">{{"WITHDRAWAL" | translate}}</span>
    </ion-nav-title>
  <ion-content class="has-footer bottomBarFooter">

      <div class="div80">

          <div class="withdrawalExplanation">
              {{"WITHDRAWALDESC1" | translate}} <a ui-sref="app.documents">{{"WITHDRAWALDESC2" | translate}}</a>. {{"WITHDRAWALDESC3" | translate}}
          </div>

          <div class="withdrawalInputDiv">
              <select class="withdrawalInput" ng-options="option.RobotName for option in accountsList track by option.ClientNumber"
                      ng-model="withdrawal.robot" required></select>
          </div>

          <div class="withdrawalInputDiv">
              <input type="tel" ng-model="withdrawal.amount" class="withdrawalInput" placeholder='{{"SELECTAMOUNT" | translate}}'>
          </div>

          <div class="grayColor">
              {{"AVAILABLEBALANCE" | translate}}: ${{withdrawal.robot.SpareExtFld02}}
          </div>

          <div class="withdrawalInputDiv">
              <select class="withdrawalInput" ng-model="withdrawal.method" required>
                <option value="1">{{"CC" | translate}}</option>
                <option value="3">{{"NETELLER" | translate}}</option>
                <option value="4">{{"SCRILL" | translate}}</option>
                <option value="2">{{"BANKTRANSFER" | translate}}</option>
              </select>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 1">
              <input type="tel" ng-model="withdrawal.card" class="withdrawalInput" placeholder='{{"CARDNUMBER" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 3">
              <input type="text" ng-model="withdrawal.neteller" class="withdrawalInput" placeholder='{{"NETELLERID" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 4">
              <input type="text" ng-model="withdrawal.scrill" class="withdrawalInput" placeholder='{{"SCRILLID" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 2">
              <input type="text" ng-model="withdrawal.bankAccountName" class="withdrawalInput" placeholder='{{"BANKACCOUNTNAME" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 2">
              <input type="text" ng-model="withdrawal.bankName" class="withdrawalInput" placeholder='{{"BANKNAME" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 2">
              <input type="text" ng-model="withdrawal.bankCountry" class="withdrawalInput" placeholder='{{"COUNTRY" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 2">
              <input type="text" ng-model="withdrawal.bankBranch" class="withdrawalInput" placeholder='{{"BRANCH" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 2">
              <input type="text" ng-model="withdrawal.bankSWIFT" class="withdrawalInput" placeholder='{{"SWIFT" | translate}}'>
          </div>

          <div class="withdrawalInputDiv" ng-show="withdrawal.method == 2">
              <input type="text" ng-model="withdrawal.bankIBAN" class="withdrawalInput" placeholder='{{"IBAN" | translate}}'>
          </div>

          <button class="button button-clear buttonCut withdrawalApply" ng-click="makeWithdrawal()">
              {{"SUBMIT" | translate}}
          </button>

          <div class="withdrawalConditions">
              <div class="withdrawalCheckbox">
                  <img src="img/checkbox_empty.png" width="20" ng-click="setSquare(true)" ng-show="square === false">
                  <img src="img/checkbox_full.png" width="20" ng-click="setSquare(false)" ng-show="square === true">
              </div>
              <div class="withdrawalCheckboxLabel">{{"TERMS1" | translate}} <a ui-sref="app.policy">{{"TERMS2" | translate}}</a>, <a ui-sref="app.terms">{{"TERMS3" | translate}}</a> {{"TERMS4" | translate}}</div>
          </div>

          <!--<button class="button button-block button-positive" ng-click="withdraw()">Withdraw</button>-->

      </div>

  </ion-content>
    <ion-footer-bar class="bottomBar">
        <div class="bottomBarButtons">
            <div class="bottomBarButtonFirst" ui-sref="app.myaccount"  ng-class="{bottomBarButtonGrey : currentState == 'app.myaccount'}">
                <div><i class="icon ion-stats-bars bottomBarButtonIcon" style="font-size: 300%;" ng-class="{bottomBarButtonIconBlack : currentState == 'app.myaccount'}"></i></div>
                <div class="bottomBarButtonText" style="margin-top: -8px;" ng-class="{bottomBarButtonTextBlack : currentState == 'app.myaccount'}">{{"ACCOUNTOVERVIEW" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.investment"  ng-class="{bottomBarButtonGrey : currentState == 'app.investment'}">
                <div><i class="icon ion-briefcase bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.investment'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.investment'}">{{"MANAGEINVESTMENT" | translate}}</div>
            </div>
            <div class="bottomBarButton" ui-sref="app.reports" ng-class="{bottomBarButtonGrey : currentState == 'app.reports'}">
                <div><i class="icon ion-pie-graph bottomBarButtonIcon" ng-class="{bottomBarButtonIconBlack : currentState == 'app.reports'}"></i></div>
                <div class="bottomBarButtonText" ng-class="{bottomBarButtonTextBlack : currentState == 'app.reports'}">{{"REPORTS" | translate}}</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
