.ng-hide {
    display: none !important;
}

/*.ng-hide-add {*/
    /*transition: 0s linear all !important;*/
/*}*/

body{
    font-family: 'Open Sans', sans-serif;
}

.customTitle {
    color: grey !important;
    padding-top: 5px !important;
    display: block;
    font-size: 15px;
}

.buttonCut {
    margin: 0;
    padding: 0;
    border: 0;
}

.div80 {
    width: 90%;
    margin: 0 auto;
}

.modalBackButton {
    top: 2px;
    left: 10px;
}

.grayColor {
    color: #A1A1A1;
}

.topIconSize::before {
    font-size: 30px !important;
}

.topIconSmallSize::before {
    font-size: 25px !important;
}

/*Header styling*/

ion-header-bar {
    background-color: white;
    height: 50px !important;
}

ion-content {
    top: 50px !important;
}

.menuButton {
    position: absolute;
    top: 10px;
}

.menuButtonNotifications {
    position: absolute;
    right: 15px;
    top: 7px;
}

.menuButtonMessages {
    position: absolute;
    right: 45px;
    top: 5px;
}

.menuButtonMessagesSpan {
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 7px;
    position: absolute;
    right: 43px;
    top: 7px;
    color: white;
    z-index: 100;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
}
/*End of header styling*/

/*Privacy policy and Terms of Use*/

.mainDiv {
    width: 100%;
}

.innerDiv {
    width: 96%;
    margin: 0 auto;
    padding-top: 10px;
}

.backButton {
    margin-left: -15px;
    margin-top: 5px;
}

/*End of Privacy policy and Terms of Use*/

/*Upper bar*/
/*.upperBar{
    width: 100%;
    height: 60px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #F3F3F3;
    background-color: white;
    overflow: hidden;
}

.upperBarButtons {
    width: 80%;
    margin: 0 auto;
}

.upperBarButton {
    padding-top: 5px;
    width: 25%;
    float: left;
    height: 60px;
    text-align: center;
}

.upperBarButtonIconBlue {
    font-size: 30px;
    color: #124460;
}

.upperBarButtonText {
    font-size: 80%;
    color: #A1A1A1;
    line-height: 10px;
}

.upperBarButtonTextLast {
    font-size: 80%;
    color: #A1A1A1;
    margin-top: -5px;
    line-height: 10px;
}

.upperBarButtonTextBlack {
    color: black !important;
}

.upperBarButtonBackground {
    background-color: #E2E2E2;
}*/
/*End of upper bar*/

/*Bottom bar*/
.bottomBarFooter {
    bottom: 60px;
}

.bottomBar {
    height: 60px;
    padding: 0;
    margin: 0;
}

.bottomBarButtons {
    width: 100%;
    text-align: center;
}

.bottomBarButtonFirst {
    width: 34%;
    padding-top: 5px;
    height: 60px;
    float: left;
}

.bottomBarButton {
    width: 33%;
    padding-top: 5px;
    height: 60px;
    float: left;
}

.bottomBarButtonIcon {
    font-size: 250%;
    color: #A1A1A1;
}

.bottomBarButtonIconBlack {
    color: grey !important;
}

.bottomBarButtonText {
    color: #A1A1A1;
    font-size: 10px;
    margin-top: -3px;
    font-weight: bold;
}

.bottomBarButtonTextBlack {
    color: grey !important;
    font-weight: bold;
}

.bottomBarButtonGrey {
    background-color: #E2E2E2;
}
/*End of bottom bar*/

/*Menu*/

.customMenu {
    background-color: grey !important;
    top: 0 !important;
}

.customMenu .item {
    border:none;
    border-top: 1px solid;
    border-bottom:1px solid;
    border-color: white;
    color: white;
}

.customMenu .item-content {
    background-color: grey !important;
}

.customMenuText {
    /*position: absolute;*/
    /*top: 18px;*/
    /*left: 38px;*/
}

.active-menu-item .item-content {
    background-color: #9A9A9A !important;
}

.customMenuInboxCircle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: 30px;
    text-align: center;
    color: #b2b2b2;
    font-size: 120%;
    font-weight: bold;
}

/*End of menu*/

/*Deposit*/

.depositRow {
    width: 100%;
    height: 20px;
    margin: 10px 0;
}

.depositCheckbox{
    width: 10%;
    float: left;
    text-align: left;
    padding-right: 5px;
}

.depositPaymentType {
    width: 90%;
    float: left;
    color: #6F6F6F;
    font-weight: bold;
    position: relative;
}

.depositVisaMastercard {
    position: absolute;
    top: 0;
    left: 120px;
}

.depositNeteller {
    position: absolute;
    top: -8px;
}

.depositScrill {
    position: absolute;
    top: 0;
}

.depositWireTransfer {
    position: absolute;
    top: -2px;
}

.depositBankInformation {
    margin: 10px 0;
    color: grey;
}

.depositBankRow {
    width: 100%;
    margin: 5px 0;
    position: relative;
    /*height: 50px;*/
    text-align: center;
}

.depositBankGallery {
    width: 48%;
    float: left;
}

.depositBankCamera {
    width: 48%;
    float: right;
}

.depositBankGalleryButton {
    width: 100%;
    height: 30px !important;
    text-align: center;
    background-color: #a1a1a1 !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
    line-height: 30px;
    margin-bottom: 10px;
}

.depositBankCameraButton {
    width: 100%;
    height: 30px !important;
    text-align: center;
    background-color: #a1a1a1 !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
    line-height: 30px;
    margin-bottom: 10px;
}

.depositConfirmationImage {
    width: 100%;
}

.depositInputDiv {
    padding: 5px 0;
}

.depositInput
{
    font-size: 120% !important;
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border: 0;
    border-radius: 5px;
}

.depositInputDisabled {
    font-size: 120% !important;
    height:40px !important;
    line-height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border: 0;
    color: grey;
    text-transform:capitalize;
    border-radius: 5px;
}

/*.depositInputRow {*/
    /*width:100%;*/
    /*margin: 5px auto;*/
    /*height: 40px;*/
/*}*/

/*.depositInputMM {*/
    /*width: 30%;*/
    /*float: left;*/
    /*font-size: 120% !important;*/
    /*height:40px !important;*/
    /*text-align:left;*/
    /*margin-right: 3%;*/
    /*background: #F3F3F3;*/
    /*padding-left: 5% !important;*/
    /*display: block;*/
/*}*/

/*.depositInputYY {*/
    /*width: 30%;*/
    /*float: left;*/
    /*font-size: 120% !important;*/
    /*height:40px !important;*/
    /*text-align:left;*/
    /*margin-right: 3%;*/
    /*background: #F3F3F3;*/
    /*padding-left: 5% !important;*/
    /*display: block;*/
/*}*/

/*.depositInputCVV {*/
    /*width: 34%;*/
    /*float: left;*/
    /*font-size: 120% !important;*/
    /*height:40px !important;*/
    /*text-align:left;*/
    /*background: #F3F3F3;*/
    /*padding-left: 5% !important;*/
    /*display: block;*/
/*}*/

.depositSubmit {
    margin: 5px 0 !important;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 150%;
    line-height: 40px;
}

/*.depositErrorRequired {*/
    /*color: red;*/
    /*width: 75%;*/
    /*margin: 0 auto;*/
    /*display: block;*/
/*}*/

/*.depositErrorInvalid {*/
    /*color: darkorange;*/
    /*width: 75%;*/
    /*margin: 0 auto;*/
    /*display: block;*/
/*}*/
/*End of deposit*/

/*Login*/
.loginContent {
    bottom: 75px;
    text-align: center;
}

.loginLanguageRow {
    padding-top: 40px;
    text-align: left;
}

.loginCountries {
    font-size:120% !important;
    color: #AAAAAA;
    background-color: transparent;
    border: 0;
}

.loginLogo {
    padding: 30px 0 10px 0;
}

.loginInputDiv{
    padding: 10px 0 0 0;
}

.loginInput {
    font-size:120% !important;
    height:50px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    border-radius: 5px;
}

.loginButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 150%;
    margin-top: 20px;
}

.loginForgotPassword {
    text-align: left;
    padding: 10px 0;
}

.loginRegisterButton {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    background-color: white !important;
    border: 1px solid #00B3FF !important;
    border-radius: 5px;
    color: #00B3FF !important;
}

.loginFooter {
    height: 75px;
    display: block;
    border-image-width: 0;
    background-size: 0;
}

.loginFooterRow {
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 12px;
    line-height: 18px;
}
/*End of login*/

/*Register*/

.regInputDiv {
    padding: 5px 0;
}

.regInput {
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border: 0;
    border-radius: 5px;
}

.regInputDiv .intl-tel-input {
    width: 100% !important;
}

.itemSelected {
    padding: 5px 0 !important;
    border: 0 !important;
}

.itemSelectedBox {
    border: none;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: left;
    background-color: #F3F3F3 !important;
    width: 100%;
    padding-left: 5% !important;
}

.itemSelectedCountry {
    padding: 5px 0 !important;
    height: 40px;
    width: 100% !important;
    border: 0 !important;
}

.itemSelectedBoxCountry {
    border: none;
    border-radius: 5px !important;
    height: 40px !important;
    text-align: left;
    background-color: #F3F3F3 !important;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 5% !important;
}

.regInputPhone{
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    border: 0;
    border-radius: 5px;
}

.regErrorRequired {
    color: red;
    width: 100%;
    display: block;
}

.regErrorInvalid {
    color: darkorange;
    width: 100%;
    display: block;
}

.regPassword {
    color: grey;
    width: 100%;
    display: block;
}

.regButton {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
    line-height: 40px;
    margin: 10px 0;
}

.regConditions {
    width: 100%;
    padding: 10px 0;
    height: 60px;
}

.regCheckbox {
    width: 10%;
    float: left;
    text-align: left;
}

.regCheckboxLabel {
    width: 90%;
    float: right;
    font-size: 12px;
    line-height: 15px;
}

/*End of Register*/

/*My account*/
.myAccountDiv
{
    width:100%;
    overflow:hidden;
    margin-top: 10px;

}

.myAccountName {
    color: grey;
    float:left;
    width: 50%;
    position: relative;
    height: 40px;
    font-size: 13px;
}

.myAccountNamePosition {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.myAccountUpgradeButton {
    width: 92%;
    float: right;
    text-align: center;
    background-color: #E2E2E2 !important;
    color: grey !important;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}

.myAccountRowTopButton {
    width: 50%;
    float:right
}

.myAccountRowTop {
    width: 100%;
    margin: 10px 0;
    height: 100px;
}

.myAccountRowBottom {
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

.myAcccountLeftTileDiv{
    float: left;
    width: 50%;
    height: 100px;
}

.myAccountLeftTile {
    height: 100px;
    margin-right: 5px;
    border:2px solid #f1f1f1;
    border-radius: 5px;
}

.myAcccountRightTileDiv{
    float: left;
    width: 50%;
    height: 100px;
}

.myAccountRightTile {
    height: 100px;
    margin-left: 5px;
    border:2px solid #f1f1f1;
    border-radius: 5px;
}

.myAccountTileText {
    text-align: center;
    padding-top: 30px;
    color: gray;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}

.myAccountTileNumbers {
    text-align: center;
    color: gray;
    font-weight: bold;
}

.myAccountTileMedal {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 10px;
}

.myAccountRankLevel {
    width: 50%;
    float: left;
    text-align: left;
    color: gray;
    font-size: 90%;
    line-height: 95%;
    padding-top: 25px;
    padding-left: 10px;
    font-weight: bold;
}

.myAccountStats {
    width: 100%;
    margin: 30px auto 0 auto;
    height: 100px;
    border:2px solid #f1f1f1;
    color: gray;
    font-weight: bold;
    padding: 20px 0 0 20px;
}

.myAccountCongratulations {
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 140%;
    font-weight: bold;
}

.myAccountBottomText {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    padding-top:8px;
    color: grey;
}

.myAccountBottomButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 10px;
}
/*End of my account*/

/*Documents*/

.documentsExplanation {
    width: 100%;
    margin: 10px 0;
    border:2px solid #e1e1e1;
    border-radius: 5px;
    font-size: 100%;
    color: gray;
    padding: 15px;
    text-align: left;
}

.documentsContract {
    width: 100%;
}

.documentsRow {
    width: 100%;
}

.documentsRowFolder {
    width: 100%;
    height: 60px;
    position: relative;
}

.documentsFolderName {
    width: 45%;
    float: left;
    text-align: left;
    color: gray;
    line-height: 60px;
}

.documentsGallery {
    width: 25%;
    float: right;
    margin-right: 5px;
    position: absolute;
    top: 15px;
    right: 80px;
    height: 30px;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 80%;
    line-height: 30px;
    border-radius: 5px;
}

.documentsCamera {
    width: 23%;
    float: right;
    position: absolute;
    top: 15px;
    right: -5px;
    height: 30px;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 80%;
    line-height: 30px;
    border-radius: 5px;
}

.documentsRowDoc {
    width: 100%;
    overflow: hidden;
}

.documentsDoc {
    float: left;
    text-align: center;
    padding: 5px;
}

/*End of documents*/

/*Image popup*/

.popupImage .popup {
    background-color: transparent;
    padding-top: 5px;
    width: 80%;
    height: 80%;
    margin-top: -80px;
}

.popupImage .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.popupImageDiv {
    padding-top: 20px;
    padding-right: 5px;
    width: auto;
    height: auto;
}

.popupImageCloseButton {
    top: 2px;
    right: -15px;
    position:absolute;
}

/*End of image popup*/

/*Investment*/
.investmentBar {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
}

.investmentSubBar {
    width: 70%;
    margin: 0 auto;
}

.investmentBarButton {
    width: 33%;
    float: left;
    height: 45px;
    text-align: center;
    color: #A1A1A1;
}

.investmentBarButtonActive {
    width: 33%;
    float: left;
    height: 45px;
    text-align: center;
    background-color: #E2E2E2;
    color: grey;
}

.investmentBarButtonText {
    line-height: 45px;
    font-weight: bold;
    font-size: 120%;
}

.investmentRobotName {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 120%;
    font-weight: bold;
    color: gray;
}

.investmentRobotPic{
    text-align: center;
}

.investmentRobotDescGrey{
    text-align: center;
    color: grey;
    margin: 10px 0;
    font-weight: bold;
}

.investmentRobotDesc{
    text-align: center;
    color: grey;
    margin: 10px 0;
}

.investmentBalanceEquity {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
    color: grey;
}

.investmentBalance {
    width: 40%;
    float: left;
}

.investmentEquity {
    width: 40%;
    float: right;
}

.investmentRobotVoiceDiv {
    width: 100%;
}

.investmentRobotVoice {
    width: 100%;
    border:2px solid #f1f1f1;
    margin: 10px 0;
}

.investmentStats {
    width: 100%;
    margin: 10px auto;
    height: 100px;
    border:2px solid #f1f1f1;
    color: gray;
    padding: 10px 0 0 10px;
}

.investmentStatsBold {
    font-weight: bold;
}

.investmentStartButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
}

.investmentButtons {
    width: 100%;
    padding-top: 20px;
}

.investmentButtonLeft {
    width: 48%;
    float: left;
    height: 40px;
    text-align: center;
    background-color: #00B3FF;
    color: white;
    font-weight: bold;
    font-size: 110%;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.investmentButtonRight {
    width: 48%;
    float: right;
    height: 40px;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 110%;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/*End of investment*/

/*Robot modal*/
/*
.robotHeader {
    margin: 10px 0;
    color: grey;
    font-size: 120%;
    position: relative
}

.robotRow {
    height: 100px;
}

.robotLeftTile {
    float: left;
    width: 46%;
    height: 100px;
    margin: 0 auto 0 0;
    border:1px solid #f1f1f1;
}

.robotRightTile {
    float: right;
    width: 46%;
    height: 100px;
    margin: 0 0 0 auto;
    border:1px solid #f1f1f1;
}

.robotTileText {
    text-align: center;
    padding-top: 25px;
    color: gray;
    font-weight: bold;
    width: 100%;
}

.robotTileNumbers {
    text-align: center;
    color: gray;
    font-weight: bold;
}

.robotFreeBalance {
    margin: 20px 0;
    color: gray;
    font-size: 120%;
    text-align: left;
}

.robotInputDiv {
    width: 100%;
    height: 40px;
}

.robotInput{
    font-size: 120% !important;
    height:30px !important;
    line-height:30px !important;
    text-align:left;
    width:46%;
    float: left;
    background: #F3F3F3;
    padding-left: 5% !important;
}

.robotInputButton {
    height:30px;
    width: 46%;
    float: right;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 120%;
    line-height: 30px;
    margin-bottom: 10px;
}

.robotConditions {
    width: 100%;
    height: 30px;
    margin: 15px 0;
}

.robotCheckbox {
    width: 10%;
    float: left;
    text-align: left;
}

.robotCheckboxLabel {
    width: 90%;
    float: right;
    color: gray;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
}

.robotDepositButton{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF;
    color: white;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 120%;
}*/

/*End of robot modal*/

/*FAQ*/

.FAQitem {
    width: 100%;
    margin: 3px 0;
    border:2px solid #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.FAQitemTitle {
    width: 100%;
    position: relative
}

.FAQtitle {
    width: 80%;
    float: left;
    padding: 10px;
}

.FAQtitleOpen {
    background-color: #f1f1f1 !important;
}

.FAQtitleText {
    width: 100%;
    color: #b2b2b2;
    font-size: 120%;
}

.FAQtitleTextOpen{
    color: grey !important;
}

.FAQitemArrow {
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.FAQitemText {
    width: 100%;
    margin: 10px auto;
    text-align: justify;
    padding: 0 10px;
    color: grey;
}

/*End of FAQ*/

/*Support*/

.supportText {
    font-size: 12px;
    color: grey;
    padding: 10px 0;
}

.supportInput{
    width: 100%;
    padding: 0 0 20px 0;
}

.supportInputTitle {
    font-size:120% !important;
    height:50px !important;
    line-height: 50px;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 2% !important;
    border-radius: 5px;
}

.supportInputSubject {
    font-size:120% !important;
    height: 150px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 2% !important;
    padding-top: 2% !important;
    border-radius: 5px;
}

.supportButton{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
    line-height: 40px;
    margin-bottom: 10px;
}
/*End of support*/

/*Forgot password*/

.forgotPasswordText {
    width: 100%;
    margin: 10px 0;
    color: grey;
}

.forgotPasswordInput {
    font-size:120% !important;
    height:50px !important;
    text-align:left;
    width:100%;
    margin: 0 0 10px 0;
    background: #F3F3F3;
    padding-left: 5% !important;
    border-radius: 5px;
}

.forgotPasswordButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
}
/*End of forgot password*/

/*Contact us*/

.contactUsInput {
    height:50px !important;
    text-align:left;
    width:100%;
    margin: 0 0 10px 0;
    background: #F3F3F3;
    padding-left: 5% !important;
    border-radius: 5px;
}

.contactUsInputTextarea {
    height:100px !important;
    text-align:left;
    width:100%;
    margin: 0 0 10px 0;
    background: #F3F3F3;
    padding: 3% 2% !important;
    border-radius: 5px;
}

.contactUsButton {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
}
/*End of contact us*/

/*Information*/

.infoExplanation {
    width: 100%;
    margin: 10px 0 20px 0;
    border:2px solid #e1e1e1;
    color: grey;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
}

.infoNonEditable {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border:2px solid #f1f1f1;
    font-size: 120%;
    line-height: 40px;
    color: #b2b2b2;
    padding-left: 10px;
    border-radius: 5px;
}

.infoEditable {
    line-height: 40px;
    font-size: 120% !important;
    height: 40px !important;
    text-align: left;
    width: 100%;
    margin: 10px 0;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border-radius: 5px;
}

.infoLanguages {
    line-height: 40px;
    font-size: 120% !important;
    height: 40px !important;
    text-align: left;
    width: 100%;
    margin: 10px 0;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border-radius: 5px;
    border: 0;
}

.invoSaveButton{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
    line-height: 40px;
    /*margin-bottom: 20px;*/
}

.infoPasswordHeader {
    width: 100%;
    margin: 20px 0;
    font-size: 120%;
    font-weight: bold;
    color:  grey;
}

.infoErrorRequired {
    color: red;
    width: 100%;
    display: block;
}

.infoErrorInvalid {
    color: darkorange;
    width: 100%;
    display: block;
}

.infoPassword {
    color: grey;
    width: 100%;
    display: block;
}
/*End of information*/

/*Reports*/

.reportInputDiv {
    padding: 5px 0;
    color: gray;
}

.reportInput {
    font-size: 120% !important;
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border-radius: 5px;
    border: 0;
}

.reportButtons {
    width: 100%;
    padding-top: 20px;
}

.reportButtonLeft {
    width: 46%;
    float: left;
    height: 40px;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 110%;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.reportButtonRight {
    width: 46%;
    float: right;
    height: 40px;
    text-align: center;
    background-color: #00B3FF;
    color: white;
    font-weight: bold;
    font-size: 110%;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/*End of reports*/

/*Inbox*/

.inboxNumber {
    color: gray;
    margin-bottom: 10px;
}

.inboxRow {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #F3F3F3;
    padding: 10px;
    overflow: hidden;
}

.inboxMessageRead {
    background-color: white;
}

.inboxMessageNotRead {
    background-color: #F3F3F3;
}

.inboxTitleRow {
    width: 100%;
}

.inboxTitle {
    width: 74%;
    float: left;
}

.inboxTitleText {
    width: 100%;
    color: #b2b2b2;
    font-size: 120%;
}

.inboxDate {
    width: 18%;
    float: right;
    color: #b2b2b2;
    text-align: center;
}

.inboxArrow {
    width: 8%;
    float: right;
    text-align: center;
}

.inboxText {
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 10px;
    color: grey;
}

.inboxButtons {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 10px;
}

.inboxFeedback {
    color: red;
}
/*End of Inbox*/

/*Notifications*/

.notificationsItem {
    width: 100%;
    margin: 3px 0;
    position: relative;
    border:2px solid #f1f1f1;
    overflow: hidden;
    border-radius: 5px;
}

.notificationsImgDiv {
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    padding-top: 10px;
}

.notificationsDataDiv {
    width: 75%;
    float: right;
}

.notificationsDataRow {
    width: 100%;
    height: 40px;
}

.notificationsRobotName {
    width: 75%;
    float: left;
    color: #b2b2b2;
    font-size: 120%;
    font-weight: bold;
    height: 40px;
    padding-top: 15px;
    padding-left: 5px;
}

.notificationsDate {
    width: 25%;
    float: right;
    color: #b2b2b2;
    height: 40px;
    padding-top: 15px;
    padding-right: 5px;
}

.notificationsText {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 5px 10px 5px;
    color: #b2b2b2;
}

.notificationsDataRowOpened {
    width: 100%;
    height: auto;
}

.notificationsTextOpened {
    padding: 10px 5px 10px 5px;
    color: #b2b2b2;
    height: auto;
}

/*End of notifications*/

/*Phone verification*/
.phoneHeader {
    width: 100%;
    margin: 20px 0 10px 0;
    height: 30px;
    display: block;
    position: relative;
}

.phoneHeaderText{
    color:  grey;
    position: absolute;
    left: 45px;
    top: 7px;
    font-weight: bold;
    font-size: 120%;
}

.phoneSubheader {
    color: grey;
    font-size: 90%;
    padding: 10px 0;
}

.phoneInputHeader {
    font-weight: bold;
    font-size: 120%;
    color:  grey;
    margin: 10px 0;
}

.phoneButton{
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 130%;
}

.phoneInput {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border:2px solid #f1f1f1;
    font-size: 120%;
    font-weight: bold;
    line-height: 40px;
    color: #b2b2b2;
    padding-left: 10px;
    border-radius: 5px;
}

.phoneCodeInput {
    line-height: 40px;
    font-size: 120% !important;
    height: 40px !important;
    text-align: left;
    width: 100%;
    margin: 20px 0 10px 0;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border-radius: 5px;
}

.phoneContactUs{
    font-size: 12px;
    color: grey;
    margin-top: 20px;
}

/*End of phone verification*/

/*Wallet*/
/*.walletHeader {*/
    /*color: #6D6D6D;*/
    /*font-weight: bold;*/
    /*padding: 10px 0 0 0;*/
/*}*/

/*.walletExplanation {*/
    /*width: 100%;*/
    /*height: 120px;*/
    /*margin: 10px 0;*/
    /*border:2px solid #f1f1f1;*/
    /*font-size: 100%;*/
    /*color: gray;*/
    /*position: relative;*/
/*}*/

/*.walletExplanationText{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*text-align: center;*/
/*}*/

/*.walletAdded {*/
    /*width: 100%;*/
    /*height: 120px;*/
    /*border: 1px solid #F3F3F3;*/
    /*position: relative;*/
    /*margin: 10px 0;*/
/*}*/

/*.walletAddedTitle {*/
    /*padding: 10px 0 0 10px;*/
    /*color: #A1A1A1;*/
    /*font-weight: bold;*/
/*}*/

/*.walletAddedLogo {*/
    /*position: absolute;*/
    /*top: 45px;*/
    /*right: 10px;*/
/*}*/

/*.walletAddedBottomRow {*/
    /*width: 100%;*/
    /*color: #A1A1A1;*/
    /*padding: 30px 10px 10px 10px;*/
/*}*/

/*.walletAddedBottomLeft {*/
    /*float: left;*/
    /*width: 50%;*/
    /*font-weight: bold;*/
/*}*/

/*.walletAddedBottomRight {*/
    /*float: right;*/
    /*width: 50%;*/
    /*text-align: right;*/
/*}*/

/*.walletNew {*/
    /*width: 100%;*/
    /*height: 120px;*/
    /*border: 1px solid #F3F3F3;*/
    /*position: relative;*/
    /*margin: 10px 0;*/
/*}*/

/*.walletNewPlus{*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 50%;*/
    /*margin-left: -20px;*/
/*}*/

/*.walletNewLink {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*bottom: 15px;*/
/*}*/
/*End of wallet*/

/*Withdrawal*/
.withdrawalExplanation {
    width: 100%;
    margin: 10px 0;
    border:2px solid #f1f1f1;
    border-radius: 5px;
    font-size: 100%;
    color: gray;
    position: relative;
    padding:15px;
    text-align: left;
}


.withdrawalInputDiv {
    padding: 10px 0;
    color: gray;
}

.withdrawalInput {
    font-size: 120% !important;
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border: 0;
    border-radius: 5px;
}

.withdrawalConditions {
    width: 100%;
    height: 60px;
    margin: 10px 0 0 0;
}

.withdrawalCheckbox {
    width: 10%;
    float: left;
    text-align: left;
}

.withdrawalCheckboxLabel {
    width: 90%;
    float: right;
    color: gray;
    font-size: 12px;
    line-height: 15px;
}

.withdrawalApply {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
    font-size: 150%;
    line-height: 40px;
}
/*End of withdrawal*/

/*History*/

.historyInputDiv {
    padding: 10px 0;
    color: gray;
}

.historyInput {
    font-size: 120% !important;
    height:40px !important;
    text-align:left;
    width:100%;
    background: #F3F3F3;
    padding-left: 5% !important;
    display: block;
    border-radius: 5px;
}

.historyViewResults {
    width: 100%;
    text-align: center;
    background-color: #00B3FF !important;
    color: white !important;
    font-weight: bold;
}

.historyTiles {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.historyLeftTile {
    width: 48%;
    height: 160px;
    float: left;
    border: 1px solid #E2E2E2;
    padding: 10px 5px;
}

.historyRightTile{
    width: 48%;
    float: right;
    height: 160px;
    border: 1px solid #E2E2E2;
    padding: 10px 5px;
}

.historyRow {
    width: 100%;
    overflow: hidden;
}

.historyLeftText {
    float: left;
    text-align: left;
    font-size: 80%;
    color: #A1A1A1;
}

.historyRightText {
    float: right;
    text-align: right;
    font-size: 80%;
    color: #A1A1A1;
}

/*End of history*/